
  <div class="modal-header bg-warn">
      <h2 class="modal-title"><strong>{{modalAction}} {{modalHeader}}</strong></h2>
      <button  type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body" >
      <form style="max-height: 300px;overflow-y: auto;">
        <div class="w-100">
          <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-type-bold"></i> Título</label>
          <input type="text" name="titulo" [(ngModel)]="desarrollo.titulo" id="exampleFormControlInput1" placeholder="Título de el producto en desarrollo">
        </div>
        <div class="w-100">
          <label for="exampleFormControlTextarea1" class="small text-white"><i class="bi bi-card-text"></i> Descripción</label>
          <textarea name="descripcion" [(ngModel)]="desarrollo.descripcion" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción del producto en desarrollo"></textarea>
        </div>
        <div class="w-100">
          <label for="formFile" class="small text-white"><i class="bi bi-image"></i> Imagen</label>
          <input name="imagen" type="file" id="formFile" accept="image/*" (change)="fileEvent($event)">
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" [disabled]="disableButton" (click)="addUpdateDesarrollo()">{{modalAction}} {{modalHeader}}</button>
  </div>


