.container-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid var(--firstcolor);
    flex-wrap: wrap;
}

.container-perfil .side {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px;
}

.container-perfil .side .content-icon {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-perfil .side .content-icon .icono-content {
    width: 100px;
    height: 100px;
    background-color: var(--firstcolor-hover);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.container-perfil .side .content-icon .icono-content i {
    font-size: 60px;
    color: var(--firstcolor);
}

.container-perfil .side form {
    width: 250px;
}

.container-perfil .side form .input-perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.container-perfil .side form .input-perfil label {
    position: absolute;
    color: var(--firstcolor);
    top: -7px;
    left: 40px;
    font-size: 12px;
}

.container-perfil .side form .input-perfil .prev {
    position: absolute;
    color: var(--firstcolor);
    left: 0;
}

.container-perfil .side form .input-perfil .next {
    position: absolute;
    color: var(--firstcolor);
    right: 0;
}

.container-perfil .side form .input-perfil .in {
    color: var(--firstcolor);
    border: none;
    border-bottom: 1px solid var(--firstcolor);
    outline: none;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 15px;
}