.container-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid var(--firstcolor);
    flex-wrap: wrap;
}

.container-perfil .side {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px;
}

.container-perfil .side .content-icon {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-perfil .side .content-icon .icono-content {
    width: 150px;
    height: 150px;
    background-color: var(--firstcolor-hover);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.container-perfil .side .content-icon .icono-content i {
    font-size: 80px;
    color: var(--firstcolor);
}

.container-perfil .side form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 350px;
    padding-top: 15px;
    overflow: auto;
}

.container-perfil .side form .input-perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
}

.container-perfil .side form .input-perfil label {
    position: absolute;
    color: var(--firstcolor);
    top: -7px;
    left: 32px;
    font-weight: 800;
    font-size: 12px;
}

.container-perfil .side form .input-perfil .prev {
    position: absolute;
    color: var(--firstcolor);
    left: 15px;
    top: -12px;
}

.container-perfil .side form .input-perfil .next {
    position: absolute;
    color: var(--firstcolor);
    right: 0;
}

.container-perfil .side form .input-perfil .in {
    width: auto;
    font-size: 12px;
    text-overflow: ellipsis;
    color: var(--firstcolor);
    border: none;
    border-bottom: 1px solid var(--firstcolor);
    outline: none;
    margin-left: 23px;
    padding-left: 0px;
    transition: all .3s ease;
}

.container-perfil .side form .input-perfil .in:read-only {
    color: var(--firstcolor);
    border: none;
    outline: none;
    margin-left: 23px;
    padding-left: 0px;
    transition: all .3s ease;
}

.container-perfil .side .user-data {
    font-size: 12px;
    margin: 2px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.container-perfil .side .user-data.user {
    color: var(--firstcolor);
}

.container-perfil .side .user-data.data {
    color: #9b999e;
}

.container-perfil .imagen-triangulo {
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-bottom-left-radius: 1em;
    width: 120px;
    height: auto;
}

.container-perfil .side form .btn-groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.container-perfil .side form .btn-groups .btn-perfil {
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    background-color: var(--firstcolor);
    color: white;
    font-size: 12px;
    margin: 6px;
    padding: 10px;
    transition: all .3s ease;
}

.container-perfil .side form .btn-groups .btn-perfil:hover {
    background-color: var(--firstcolor-hover);
    border-radius: 1.5em;
    transition: all .3s ease;
}

.container-perfil .btn-closed {
    position: absolute;
    border: none;
    right: 5px;
    z-index: 999;
    top: 5px;
    background-color: transparent;
    color: var(--firstcolor);
}

.container-perfil .side .sidebar-pedidos {
    position: absolute;
    white-space: nowrap;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0%;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    visibility: hidden;
    background-color: var(--firstcolor);
    transition: all .5s ease;
}

.container-perfil .side .sidebar-pedidos.active {
    width: 64%;
    opacity: 1;
    visibility: visible;
}

.container-perfil .side .sidebar-pedidos.actived~.container-perfil .btn-closed {
    color: white;
}

.container-perfil .side .sidebar-pedidos .btn-ampliar {
    position: absolute;
    left: 0;
    height: 45px;
    border-radius: 100%;
    margin-left: -25px;
    background-color: var(--firstcolor);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    color: white;
    transition: all .5s ease;
}

.container-perfil .side .sidebar-pedidos .btn-ampliar:hover {
    background-color: var(--firstcolor-hover);
}

.container-perfil .side .sidebar-pedidos .btn-ampliar.active {
    transform: rotate(180deg);
    transition: all .5s ease;
}

.container-perfil .side .sidebar-pedidos .list-pedidos {
    max-height: 350px;
    overflow-y: auto;
}

.container-perfil .side .sidebar-pedidos .list-pedidos .pedidos {
    width: 95%;
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--firstcolor);
}

.container-perfil .side .sidebar-pedidos .list-pedidos .pedidos .td-pedido {
    width: 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
}

.fecha{
    background-color: white;
    color: var(--firstcolor);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    font-size: 12px;
    padding: 5px;
    border-radius: 0.5em;
}