<div class="container-perfil">
    <div class="side" style="width: 35%;">
        <div class="content-icon">
            <div class="icono-content">
                <i class="bi bi-person-fill svg-shadow"></i>
            </div>
        </div>
    </div>
    <div class="side" style="width: 65%;">
        <h3 class="h3"><strong>Perfil de usuario</strong></h3>
        <form action="">
            <div class="input-perfil">
                <label for="">Usuario:</label>
                <input type="text" class="in" name="usuario" [(ngModel)]="usuario.usuario">
                <i class="bi bi-person-fill prev"></i>
                <i class="bi bi-pencil-fill next"></i>
            </div>
            <div class="input-perfil">
                <label for="">Nombre:</label>
                <input type="text" class="in" name="nombre" [(ngModel)]="usuario.nombre">
                <i class="bi bi-chat-fill prev"></i>
                <i class="bi bi-pencil-fill next"></i>
            </div>
            <div class="input-perfil">
                <label for="">Correo:</label>
                <input type="text" class="in" name="correo" [(ngModel)]="usuario.correo">
                <i class="bi bi-envelope-fill prev"></i>
                <i class="bi bi-pencil-fill next"></i>
            </div>
            <div class="input-perfil">
                <label for="">Fecha:</label>
                <input type="text" class="in" name="fecha" [(ngModel)]="usuario.fecha">
                <i class="bi bi-calendar-fill prev"></i>
                <i class="bi bi-pencil-fill next"></i>
            </div>
            <div class="input-perfil">
                <label for="">Rol:</label>
                <input type="text" class="in" name="rol" [(ngModel)]="usuario.rol" disabled>
                <i class="bi bi-person-rolodex prev"></i>
                <i class="bi bi-pencil-fill next"></i>
            </div>
        </form>
    </div>
</div>