<nav [class]="back_class" class="scroll-mine" style="z-index: 999;height: fit-content">
    <div class="container-fluid">
        <div class="navbar-brand">
            <span class="letter" data-letter="I" (click)="navigateTo('inicio')"
                style="text-shadow: 1px 1px 10px rgba(0,0,0,0.74);cursor: pointer;font-family: ModernWarfare-8MM6z;">ICEM</span>
        </div>
        <button (click)="cambiarFondo()" class="navbar-toggler btn-outline-firstcolor" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars text-white svg-shadow"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item nav-mine active" id="inicio" (click)="navigateTo('inicio')"><i
                        class="fa fa-home svg-shadow"></i> Inicio </li>
                <li class="nav-item nav-mine" id="productos" (click)="navigateTo('productos')"><i
                        class="fa fa-medkit svg-shadow"></i> Productos
                    <ul class="menu menu-left">
                        <li class="nav-contextual" (click)="loadProducto({id: -1, nombre: 'Todos'})"><i
                                class="fa fa-medkit col-sm-2" style="margin-right: 10px;"></i><span
                                class="col-sm-10">Todos</span></li>
                        <li *ngFor="let item of categorias" class="nav-contextual" (click)="loadProducto(item)"><i
                                class="fa fa-medkit col-sm-2" style="margin-right: 10px;"></i><span
                                class="col-sm-10">{{item.nombre}}</span></li>
                    </ul>

                </li>
                <li class="nav-item nav-mine" id="quienes" (click)="navigateTo('quienes')"><i
                        class="fa fa-users svg-shadow"></i>
                    Quienes somos
                    <ul class="menu menu-left">

                        <li class="nav-contextual" (click)="loadQuienes('mision')"><i class="fa fa-users col-sm-2"
                                style="margin-right: 10px;"></i><span class="col-sm-10">Mision</span></li>
                        <li class="nav-contextual" (click)="loadQuienes('vision')"><i class="fa fa-users col-sm-2"
                                style="margin-right: 10px;"></i><span class="col-sm-10">Vision</span></li>
                        <li class="nav-contextual" (click)="loadQuienes('objetivo')"><i class="fa fa-users col-sm-2"
                                style="margin-right: 10px;"></i><span class="col-sm-10">Objetivo</span></li>
                        <li class="nav-contextual" (click)="loadQuienes('miembros')"><i class="fa fa-users col-sm-2"
                                style="margin-right: 10px;"></i><span class="col-sm-10">Miembros del equipo</span></li>
                        <li class="nav-contextual" (click)="loadQuienes('actividades')"><i class="fa fa-users col-sm-2"
                                style="margin-right: 10px;"></i><span class="col-sm-10">Actividades</span></li>
                    </ul>
                </li>
                <li class="nav-item nav-mine" id="noticias" (click)="navigateTo('noticias')"><i
                        class="fa fa-book-open svg-shadow"></i> Noticias</li>
                <li class="nav-item nav-mine" id="nuevos" (click)="navigateTo('nuevos')"><i
                        class="fa fa-gavel svg-shadow"></i>
                    Nuevos Desarrollos</li>

                <form class="d-flex form" >
                    <input class="input-search" style=""
                        [(ngModel)]="titulo" name="titulo" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="btn btn-outline-firstcolor btn-search" title="buscar"
                        style="height: 40px;display: flex;align-items: center;justify-content: center;position: relative;"
                        (click)="buscar()">
                        <!-- <div class="pista pista-off pista-bottom">buscar</div> -->
                        <i class="fa fa-search svg-shadow"></i>
                        <!-- <i class="bi bi-x svg-shadow"></i> -->
                    </button>
                </form>
                <li class="nav-item nav-mine" style="position: relative;"><i class="bi bi-person-fill svg-shadow"></i>
                    {{acceso}}
                    <ul class="menu"
                        [ngClass]="{'menu-left': calcularWindowWidthSize(), 'menu-right': !calcularWindowWidthSize(), 'menu-top': calcularWindowHeightSize(), 'menu-bottom':!calcularWindowHeightSize()}">
                        <li *ngIf="acceso=='acceder/registrarse'" class="nav-contextual"
                            (click)="loginOrRegister('Login')">
                            <i class="bi bi-person-circle col-sm-2" style="margin-right: 10px;"></i><span
                                class="col-sm-10">autenticarse</span>
                        </li>
                        <li *ngIf="acceso!='acceder/registrarse'" class="nav-contextual" (click)="perfil();"><i
                                class="bi bi-person-video2 col-sm-2" style="margin-right: 10px;"></i><span
                                class="col-sm-10">perfil</span>
                        </li>
                        <li *ngIf="acceso=='acceder/registrarse'" class="nav-contextual"
                            (click)="loginOrRegister('Register')"><i class="bi bi-person-plus-fill col-sm-2"
                                style="margin-right: 10px;"></i><span class="col-sm-10">registrarse</span></li>
                        <li *ngIf="acceso!='acceder/registrarse' && storage2.retrieve('usuario').rol=='admin'"
                            (click)="administrar()" class="nav-contextual"><i class="bi bi-kanban-fill col-sm-2"
                                style="margin-right: 10px;"></i><span class="col-sm-10">administrar</span></li>
                        <li *ngIf="acceso!='acceder/registrarse'" class="nav-contextual" (click)="cancelarLogin()"><i
                                class="bi bi-door-closed-fill col-sm-2" style="margin-right: 10px;"></i><span
                                class="col-sm-10">cerrar
                                sesión</span></li>
                    </ul>
                </li>
                <li *ngIf="acceso!='acceder/registrarse'" class="nav-item nav-mine" style="position: relative;"><i
                        class="bi bi-cart3 svg-shadow">
                        <div class="cant-cart">{{carrito.length}}</div>
                    </i>
                    <ul class="menu"
                        [ngClass]="{'menu-left': calcularWindowWidthSize() && !calcularWindowHeightSize(), 'menu-right': !calcularWindowWidthSize(), 'menu-top': calcularWindowWidthSize() && calcularWindowHeightSize()}">
                        <li class="nav-contextual disabled" disabled style="width: 250px;" *ngIf="carrito.length>0">
                            <label for="">
                                Tiempo restante:
                                {{(tiempo.hora<10)?'0'+tiempo.hora:
                                    tiempo.hora}}:{{(tiempo.minuto<10)?'0'+tiempo.minuto:
                                    tiempo.minuto}}:{{(tiempo.segundo<10)?'0'+tiempo.segundo: tiempo.segundo}} </label>
                        </li>
                        <li *ngFor="let item of carrito" class="nav-contextual" style="width: 250px;">

                            <img title="carritoimage1" style="width: 60px;height: 60px;margin-right: 10px;"
                                [src]="item.url" [alt]="item.url">
                            <div class="info">
                                <label>id del producto:{{item.producto_id}}</label>
                                <label for="">cantidad: {{item.cantidad}}</label>
                            </div>
                            <button class="btn btn-delete" (click)="deleteCarrito(item.id)"><i
                                    class="bi bi-x"></i></button>
                        </li>
                        <li class="nav-contextual disabled" disabled style="width: 250px;" *ngIf="carrito.length>0">
                            <label for="">Total
                                a
                                pagar: {{total_pagar}}</label></li>
                        <li class="nav-contextual active" (click)="pagarCarrito()" style="width: 250px;"
                            *ngIf="carrito.length>0">
                            <label for=""> Finalizar compra</label>
                        </li>
                        <li class="nav-contextual" style="width: 250px;" *ngIf="carrito.length==0"><label for="">No hay
                                productos en
                                el
                                carrito</label></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Navbar sin funcionalidad solo para pc  -->

<div style="width: 100%;display: flex;flex-direction: row;flex-wrap: wrap;" *ngIf="!calcularWindowWidthSize()">
    <div style="width: 80%;min-width: 500px; height: 100%;position: relative;">
        <div >
            <div class="navbar-fondo2 bg-firstcolor"
                style="transform: translateY(60px) translateX(60px);position: absolute;top: 0;">
            </div>
        </div>
        <div class="navbar-fondo2 bg-white"
            style="transform: translateY(50px) translateX(50px);position: absolute;top: 0;"></div>
        <div class="navbar-fondo2 bg-firstcolor"
            style="transform: translateY(40px) translateX(40px);position: absolute;top: 0;"></div>
        <div class="navbar-fondo2 bg-white"
            style="transform: translateY(30px) translateX(30px);position: absolute;top: 0;"></div>
        <div class="navbar-fondo2 bg-firstcolor"
            style="transform: translateY(20px) translateX(20px);position: absolute;top: 0;"></div>
        <div class="navbar-fondo2 bg-white"
            style="transform: translateY(10px) translateX(10px);position: absolute;top: 0;"></div>
        <div class="navbar-fondo bg-firstcolor"
            style="position: relative;background: linear-gradient(180deg, rgb(7, 7, 7) 0%, var(--firstcolor) 20%), url('assets/fondo8.png');background-blend-mode: multiply;">
            <div style="position: relative;">
                <h1><strong class="text-white h1 text-shadow" style="font-family: MyriadPro-BoldCond;">Empresa
                        Cubana de Equipos Médicos </strong>
                    <h4 class="text-white h4 text-shadow" style="font-family: MyriadPro-BoldCond;">Para su inversión
                        presente y
                        futura</h4>
                </h1>
            </div>
        </div>
    </div>
    <div
        style="display: flex;flex-direction: row;align-items: center;justify-content: center;width: 20%;height: 400px;">
        <img title="iconogrisicem" class="image" src="assets/icon-icem-gray.png">
    </div>
</div>

<!-- Navbar sin funcionalidad solo para moviles y tablets -->
<div class="navbar-mobile" *ngIf="calcularWindowWidthSize()"
    style="background: linear-gradient(180deg, rgb(7, 7, 7) 0%, var(--firstcolor) 40%), url('assets/fondo8.png');background-blend-mode: multiply;">
    <div class="title-navbar-mobile">
        <h3 class="h3 text-shadow">Empresa Cubana de Equipos Médicos </h3>
    </div>
    <div class="slogan-navbar-mobile">
        <label class=" text-shadow" for="">Para su inversión presente y futura</label>
    </div>
    <div class="imagen-navbar-mobile">
        <img title="iconogrisicem" class="image svg-shadow" src="assets/icon-icem-gray.png">
    </div>
</div>