<div class="modal-header bg-warn">
  <h2 class="modal-title"><strong>{{modalAction}} {{modalHeader}}</strong></h2>
  <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="w-100 d-flex flex-row gap-2 flex-wrap" style="max-height: 300px;overflow-y: auto;">
    <div class="w-25">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-person"></i> Alias</label>
      <input type="text" name="alias" [(ngModel)]="posts.alias" id="exampleFormControlInput1"
        placeholder="Alias o usuario">
    </div>
    <div class="w-25">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-envelope"></i> Correo</label>
      <input type="email" name="correo" [(ngModel)]="posts.correo" id="exampleFormControlInput1"
        placeholder="Correo del usuario">
    </div>
    <div class="w-25">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-box-seam"></i> Id Producto</label>
      <input type="number" name="id_producto" [(ngModel)]="posts.id_producto" id="exampleFormControlInput1" (ngModelChange)="urlChange()"
        placeholder="Id del producto">
    </div>
    <div class="w-100">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-file-text"></i> Comentario</label>
      <textarea type="text" name="comentario" [(ngModel)]="posts.comentario" id="exampleFormControlInput1"
        placeholder="Comentario"></textarea>
    </div>
<div class="w-100 d-flex justify-content-center align-item-center">
  <img [src]="url" alt="" class="rounded bg-dark text-white shadow-md">
</div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" [disabled]="disableButton" (click)="addUpdatePosts()">{{modalAction}}
    {{modalHeader}}</button>
</div>