<div class="contenedor-especification" [@scaleAnimation]="'enter'">
    <div class="container-fluid">
        <div class="row" style="justify-content: center;">
            <div class="contenedor-imagen col-sm-12 col-md-5 col-lg-5">
                <img [src]="producto.imagen" [alt]="producto.titulo">
            </div>
            <div class="contenedor-titulo col-sm-12 col-md-5 col-lg-5">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="titulo">
                            <h3 class="h3"><i class="bi bis bi-truck svg-shadow"></i> {{producto.titulo}}</h3>
                            <p class="fecha">{{producto.fecha|date: 'short'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="things col-sm-5 col-md-5 col-lg-5">
                            <label><i class="bi bis bi-currency-dollar svg-shadow"></i> <strong> Precio:
                                </strong></label>
                            <p>{{producto.precio}}</p>
                        </div>
                        <div class="things col-sm-5 col-md-5 col-lg-5">
                            <label><i class="bi bis bi-card-checklist svg-shadow"></i> <strong> Disponibilidad:
                                </strong></label>
                            <p>{{producto.disponibilidad}}</p>
                        </div>
                        <div class="things col-sm-5 col-md-5 col-lg-5">
                            <label><i class="bi bis bi-bookmark svg-shadow"></i> <strong> Categoría: </strong></label>
                            <p>{{categoria}}</p>
                        </div>
                        <div class="things col-sm-5 col-md-5 col-lg-5" *ngIf="storage.retrieve('usuario')" [@scaleAnimation]="'enter'">
                            <label><i class="bi bis bi-cart svg-shadow"></i> <strong> Montar al carrito:
                                </strong></label>
                            <div class="container">
                                <div class="controles">
                                    <button class="btn btn-add-less" (click)="cant('more')"
                                        [disabled]="producto.disponibilidad<=cantidad"><i
                                            class="bi bi-plus"></i></button>
                                    <input class="" [max]="producto.disponibilidad" min="0" type="number"
                                        [(ngModel)]="cantidad">
                                    <button class="btn btn-add-less" (click)="cant('less')" [disabled]="cantidad<=0"><i
                                            class="bi bi-dash"></i></button>
                                    <button class="btn btn-add-less"
                                        [disabled]="cantidad>producto.disponibilidad || producto.disponibilidad==0 || cantidad==0"
                                        (click)="addCarrito()"><i class="bi bi-cart3"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-descripcion">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;">
            <div class="row">
                <div class="description col-sm-12 col-md-12 col-lg-12">
                    <i class="bi bi-info-circle svg-shadow"></i> <strong> Descripción: </strong>
                    {{producto.descripcion}}
                </div>
                <div class="description col-sm-12 col-md-12 col-lg-12">
                    <i class="bi bi-list-task svg-shadow"></i> <strong> Especificaciones: </strong>
                    {{producto.especificaciones}}
                </div>
                <div class="description col-sm-12 col-md-12 col-lg-12">
                    <i class="bi bi-window svg-shadow"></i><strong> Usos: </strong>
                    {{producto.usos}}
                </div>
                <div class="description col-sm-12 col-md-12 col-lg-12">
                    <i class="bi bi-file-text svg-shadow"></i> <strong> Garantía: </strong>
                    {{producto.garantia}}
                </div>
            </div>
        </div>
    </div>
</div>