<div class="container">
    <div class="row">
        <div class="col-sm-5" style="padding: 10px;">
            <div class="contenedor-img">
                <h3 class="h3">{{categoria}}</h3>
                <img [src]="producto.imagen" alt="">
            </div>
        </div>
        <div class="col-sm-7">
            <div class="column">
                <h1 class="h1 text-firstcolor">{{producto.titulo}}</h1>
                <label class="text">{{producto.fecha| date:'short'}}</label>
                <strong style="display: flex;flex-direction: row;font-size: 18px;"><div style="font-size: 15px;margin-right: 2px;">$</div> {{producto.precio}}</strong>
                <p class="text">{{producto.descripcion}}</p>
                <button type="button" id="especificaciones" class="collapsible" (click)="collapse($event)">Especificaciones</button>
                <div id="especificacionescontent" class="content">
                  <p>{{producto.especificaciones}}</p>
                </div> 
                <button type="button" id="usos" class="collapsible" (click)="collapse($event)">Usos</button>
                <div id="usoscontent" class="content">
                  <p>{{producto.usos}}</p>
                </div> 
                <button type="button" id="garantia" class="collapsible" (click)="collapse($event)">Garantía</button>
                <div id="garantiacontent" class="content">
                  <p>{{producto.garantia}}</p>
                </div> 
            </div>
        </div>
    </div>
</div>