.image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.body-text{
  padding-top: 0;
}

.ribbon{
  width: 30%;
  font-size: small;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.text{
  text-indent: 20px;
}

.text::first-letter{
  font-size: 150%;
  font-weight: 900;
}

.card-mine:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.card-mine{
  transition: ease-in-out 0.3s;
}

img{
  font-size: small;
  color: var(--firstcolor-section);
}

.card-mine.active{
  transform: scale(1.2);
  z-index: 99;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  background-color: var(--firstcolor-section);
}

.descripcion-not{
    /* max-height: 200px; */
    word-wrap: break-word;
    /* overflow: hidden; */
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 2.6.em;
    /* Fallback for non-webkit, line-height * 2 */
    line-height: 1.3em;
    -webkit-line-clamp: 2;
    /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}