<div class="card card-mine" [id]="noticia.id"  [@scaleAnimation]="'enter'" (click)="cambiarNoticia(noticia)">
  <div class="ribbon" >
    <img [src]="noticia.logo" >  
  </div>
  <div class="row">

    <img class="image" [src]="noticia.imagen" />

    <div class="body-text" style="padding: 20px;">
      <h5 class="text-firstcolor">{{ noticia.titulo }}</h5>
      <p class="text-section">{{noticia.fecha}}</p>
      <p style="padding-inline: 10px;">{{ noticia.descripcion }}</p>
    </div>
  </div>
</div>
