.image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

.body-text{
  padding: 20px;
  margin-bottom: 20px;
}

.ribbon{
  width: 30%;
  font-size: small;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-mine:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.card-mine{
  transition: ease-in-out 0.3s;
}

img{
  font-size: small;
  color: var(--firstcolor-section);
}