<div class="container-fluid">

    <section class="categorys animado">
        <!-- <div class="contenedor">
            <div class="rows">
                <h3 class="h3">Categorias</h3>
            </div>
            <div class="rows linea">
                <div *ngFor="let item of categorias" class="categoria" (click)="cambiarCategoria(item.id)"
                    [ngClass]="{'active': (storage.retrieve('categoria') && storage.retrieve('categoria').nombre== item.nombre)}">
                    {{item.nombre}}
                </div>
                <div class="square"></div>
                <div class="square2"></div>
            </div>
        </div> -->

        <div class="container">
            <div class="titulo-categorias">
                <h3 class="text-section">Categorías</h3>
            </div>
            <div class="contenedor-categoria">
                <button *ngFor="let item of categorias" class="btn-categoria" (click)="cambiarCategoria(item.id)"
                    [ngClass]="{'active': (storage.retrieve('categoria') && storage.retrieve('categoria').nombre== item.nombre)}">
                    <strong style="font-size: 16px;">{{item.nombre}}</strong>
                    <label style="font-size: 12px;padding-left: 5px;padding-right: 5px;max-height: 20px;">
                        {{item.descripcion}}</label>
                </button>
            </div>
        </div>
    </section>



    <div #especification style="transform: translateY(-100px);"></div>



    <section class="especifications" *ngIf="storage.retrieve('producto')">
        <div class="container">
            <div class="row">
                <div id="producto-especification" class="producto-especification">
                    <div class="barra-superior">
                        <button class="btn centrado"
                            [ngClass]="{ 'btn-outline-firstcolor': !comentarios , 'btn-firstcolor' : comentarios}"
                            (click)="abrirComentarios()" style="position: relative;">
                            <div class="pista pista-off pista-bottom">Ver comentarios</div>
                            <i class="bi bi-chat-square-text"></i>
                        </button>
                        <button class="btn btn-outline-firstcolor centrado" [disabled]="producto.ficha == null"
                            style="position: relative;margin-right: 10px;">
                            <div class="pista pista-off pista-bottom" *ngIf="producto && producto.ficha != null">
                                Descargar ficha técnica</div>
                            <i class="bi bi-journal-text"></i>
                        </button>
                    </div>
                    <app-producto-especification2></app-producto-especification2>
                </div>
                <div id="posts" class="posts" style="z-index: 999;">
                    <app-posts (emisor)="abrirComentarios()"></app-posts>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="ventas">
        <div class="ventas-contenedor"> -->
    <!-- <div class="grafico"></div> -->
    <!-- PORCIONES GRAFICO CIRCULAR
      ELIMINADO #donut-chart
      MODIFICADO CSS de .donut-chart -->
    <!-- <div class="donut-chart">
                <div id="porcion1" class="recorte">
                    <div class="quesito ios" data-rel="3"></div>
                </div>
                <div id="porcion2" class="recorte">
                    <div class="quesito mac" data-rel="3"></div>
                </div>
                <div id="porcion3" class="recorte">
                    <div class="quesito win" data-rel="4"></div>
                </div>
                <div id="porcionFin" class="recorte">
                    <div class="quesito linux" data-rel="90"></div>
                </div> -->
    <!-- FIN AÑADIDO GRÄFICO -->
    <!-- <p class="center-date">JUNE<br><span class="scnd-font-color">2013</span></p>
            </div>


        </div>
    </section> -->

    <section class="products animado">
        <div class="titulo-categorias"  >
            <h3 class="text-section" *ngIf="storage.retrieve('producto')" [@scaleAnimation]="'enter'">Quizas también pueda interesarte</h3>
            <h3 class="text-section" *ngIf="!storage.retrieve('producto')" [@scaleAnimation]="'enter'">Productos</h3>
        </div>


        <h3 class="number text-section text-center" *ngIf="productos.length==0"><strong>No hay productos en esta
                categoria</strong></h3>
        <div class="container">
            <div class="row" [@listAnimation]="productos.length" style="justify-content: center;">
                <div *ngFor="let item of productos" class="col-sm-6 col-md-4 col-lg-3">
                    <app-producto [producto]="item" style="margin-inline: 20px;"
                        (emisor)="swicthEspecification($event, especification)">
                    </app-producto>
                </div>
            </div>
        </div>
    </section>
</div>