<!-- <img *ngIf="searching" src="assets/clip-actions/searching.png" alt="">
  <p *ngIf="searching" class="text-section">Buscando</p>
  <img *ngIf="noticia_column1.length==0 && noticia_column2.length==0 && noticia_column3.length==0 && noticia_column4.length==0 && !searching" src="assets/clip-actions/empty.png" alt="">
  <p *ngIf="noticia_column1.length==0 && noticia_column2.length==0 && noticia_column3.length==0 && noticia_column4.length==0 && !searching" class="text-section">No hay noticias</p> -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="h1 text-firstcolor">Noticias de nuestra empresa</h1>
        <app-noticia-item [noticia]="item" *ngFor="let item of noticias_icem" (emisor)="cambiarNoticia($event)">
        </app-noticia-item>
        <div class="w-100 d-flex flex-column justify-content-center align-items-center" *ngIf="noticias_icem.length==0">
          <img class="w-50 svg-shadow" *ngIf="noticias_icem.length==0" src="assets/clip-actions/empty.png"
            [@scaleAnimation]="'enter'" alt="">
          <h3 class="text-section text-center" *ngIf="noticias_icem.length==0">No hay ninguna noticia de icem aun</h3>
        </div>
      </div>
      <div class="col-sm-4 position-relative">
        <h1 class="h1 text-firstcolor">Otras noticias de su interés</h1>
        <div class="search-box">
          <input type="text" placeholder="Buscar noticia por título, descripción o fuente..." name="noticia"
            [(ngModel)]="noticia_filtro" (ngModelChange)="loadNoticiasScrap()" class="in">
          <b><i class="bi bi-search"></i></b>
        </div>
        <app-noticia-item [noticia]="item" *ngFor="let item of noticias_no_icem" (emisor)="cambiarNoticia($event)">
        </app-noticia-item>
        <div class="w-100 d-flex flex-column justify-content-center align-items-center"
          *ngIf="noticias_no_icem.length==0">
          <img class="w-50 svg-shadow" *ngIf="noticias_no_icem.length==0" src="assets/clip-actions/empty.png"
            [@scaleAnimation]="'enter'" alt="">
          <h3 class="text-section text-center" *ngIf="noticias_no_icem.length==0">No hay ninguna noticia aun</h3>
        </div>
      </div>
    </div>
  </div>
</section>