<div class="container" [@scaleAnimation]="'enter'">
  <div class="producto-section">
    <h1 class="title-section2 text-section"><strong>Noticias...</strong></h1>
    <div class="row p-4"></div>
  </div>
  <div class="row p-2"></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row" >
        <div class="col-sm-3"  [@listAnimation]="noticia_column1.length">
          <app-noticia-item [noticia]="item"  *ngFor="let item of noticia_column1" (emisor)="cambiarNoticia($event)"></app-noticia-item>
        </div>
        <div class="col-sm-3" [@listAnimation]="noticia_column2.length">
          <app-noticia-item [noticia]="item"  *ngFor="let item of noticia_column2" (emisor)="cambiarNoticia($event)"></app-noticia-item>
        </div>
        <div class="col-sm-3" [@listAnimation]="noticia_column3.length">
          <app-noticia-item [noticia]="item"  *ngFor="let item of noticia_column3" (emisor)="cambiarNoticia($event)"></app-noticia-item>
        </div>
        <div class="col-sm-3" [@listAnimation]="noticia_column4.length">
          <app-noticia-item [noticia]="item"  *ngFor="let item of noticia_column4" (emisor)="cambiarNoticia($event)"></app-noticia-item>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-4"></div>
</div>
