.title-text {
    width: 100%;
    float: left;
    position: relative;
    background-color: var(--firstcolor);
    color: var(--theme-color);
    padding-inline: 20px;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.descripcion-text {
    font-size: small;
}

.linea {
    height: 5px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-firstcolor{
    padding: 15px;
}

.linea-active {
    height: 100%;
    background: linear-gradient(-90deg, rgb(59, 65, 142) 70%, black );
}

.image {
    margin-top: 30px;
    width: 90%;
}

.img {
    position: relative;
    margin-top: 0;
    /* max-height: 250px;
    overflow: hidden; */
}

.img-backlogo-bottom-rigth{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
}