<div class="filtros">
    <div class="contenedor-filtro"> <label for="actividad">Usuario</label>
        <select name="usuario" id="user" [(ngModel)]="user_id" (change)="change()" class="selecc">
            <option value="-1">usuario</option>
            <option *ngFor="let item of usuarios" [value]="item.id">{{item.usuario}}</option>
        </select>
    </div>
    <div class="contenedor-filtro"> <label for="actividad">Fecha</label>
        <input type="date" name="fecha" [(ngModel)]="fecha" (ngModelChange)="change()"  placeholder="fecha">
    </div>
    <div class="contenedor-filtro w-25"> <label for="actividad">Producto</label>
        <select name="producto" id="producto" [(ngModel)]="producto_id" (change)="change()" class="selecc">
            <option value="-1">producto</option>
            <option *ngFor="let item of productos" [value]="item.id">
                <p class="small" style="width: 10px;text-overflow: ellipsis;">{{item.titulo}}</p>
            </option>
        </select>
    </div>
    <div class="contenedor-filtro"> <label for="actividad">   </label>
        <button class="btn btn-firstcolor" (click)="generarReportes()" [disabled]="ventas.length==0">Generar reporte</button>
    </div>
</div>

<div style="overflow: auto;width: 100%;" class="table-mine scroll-mine">

    <table class="table table-dark text-center table-mine">
        <thead>
            <!-- <th>id</th> -->
            <th>usuario</th>
            <th>producto</th>
            <th>cantidad</th>
            <th>fecha</th>
            <!-- <th>acciones</th> -->
        </thead>
        <tr *ngFor="let item of ventas">
            <!-- <td>{{item.id}}</td> -->
            <td>{{item.usuario}}</td>
            <td><img [src]="item.url" style="width: 50px;height: 50px;" alt=""></td>
            <td>{{item.cantidad}}</td>
            <td>{{item.fecha | date: 'short'}}</td>
            <!-- <td> -->
            <!-- <button hidden class="btn btn-outline-primary" (click)="updateProducto(item)"> <i
                        class="bi bi-pencil svg-shadow"></i>
                </button>
                <button class="btn btn-outline-info" (click)="cambiarEstadoPedido(item)"> <i
                    class="bi bi-basket svg-shadow"></i>
            </button>
                <button class="btn btn-outline-danger" [disabled]="item.estado==='finalizado'" (click)="delete(item)">
                    <i class="bi bi-trash svg-shadow"></i>
                </button> -->
            <!-- </td> -->
        </tr>
    </table>
    <div style="z-index: 999;" *ngIf="loading">
        <app-loading-table [mensaje]="loading_message"></app-loading-table>
    </div>
</div>