.mb-3 {
    margin-inline: 2%;
}

.glassmorphismo {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.rows{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    overflow: auto;
    padding: 10px;
    min-width: 100px;
}

.sidebar .btn{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs-content{
    height: 400px;
    overflow: auto;
}

.col-sm-2 .btn {
    width: 100%;
}

.fade-in-element {
    animation: fadeIn 2000ms;
    -webkit-animation: fadeIn 2000ms;
    -moz-animation: fadeIn 2000ms;
    -o-animation: fadeIn 2000ms;
    -ms-animation: fadeIn 2000ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-body{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0,0,0,0.8);
}

.fav-icon{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #08f;
}

.fav-letter{
  font-style: oblique;
  font-weight: 900;
  font-size: large;
  transform: scale(2.2) ;
}

tr{
    max-height: 100px;
    background-color: red;
}