<div class="modal-header bg dark">
  <div class="row">
    <div class="col-sm-3">
      <img [hidden]="usuario.usuario != 'kuroko'" class="svg-shadow" style="width: 60px;height: 35px;"
        src="assets/icono-kuroko.png" />
      <div class="fav-icon" [hidden]="usuario.usuario == 'kuroko'">
        <span class="fav-letter">{{ usuario.usuario[0].toUpperCase() }}</span>
      </div>
    </div>
    <div class="col-sm-6" style="font-size: x-small">
      <p style="margin-block: 0">{{ usuario.usuario }}</p>
      <p>{{ usuario.nombre }}</p>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-warning text-white" (click)="agregar()">
      <i class="bi bi-plus svg-shadow"></i>
      <div class="pista pista-off pista-left">Agregar</div>
    </button>
    <button type="button" class="btn btn-danger" (click)="actiModal.close()">
      <i class="bi bi-x-lg svg-shadow"></i>
      <div class="pista pista-off pista-right">Cerrar</div>
    </button>
  </div>
</div>

<div class="modal-body" style="height: 100%; overflow-y: auto; padding-block: 0; padding-bottom: 20px">
  <div class="row">
    <div class="sidebar scroll-mine text-center" [@listAnimation]="buttons.length">
      <button *ngFor="let item of buttons; let i = index" class="btn position-relative"
        [ngClass]="{ 'btn-primary': buttons[i].activo, 'btn-outline-primary': !buttons[i].activo }"
        (click)="cambiarTabla(item.titulo, i)">
        <i class="bi" [class]="item.icono"></i>
        {{item.titulo}}</button>
    </div>

    <div class="tabs-content" style="position: relative;">
      <app-table-producto [productos]="productosarray" *ngIf="activo=='Productos'" [@scaleAnimation]="'enter'">
      </app-table-producto>
      <app-table-categoria [categorias]="categoriaarray" *ngIf="activo=='Categorías'" [@scaleAnimation]="'enter'">
      </app-table-categoria>
      <app-table-noticia [noticias]="noticiasarray" *ngIf="activo=='Noticias'" [@scaleAnimation]="'enter'">
      </app-table-noticia>
      <app-table-desarrollo [desarrollos]="desarrolloarray" *ngIf="activo=='Desarrollos'" [@scaleAnimation]="'enter'">
      </app-table-desarrollo>
      <app-table-usuario [usuarios]="usuariosarray" *ngIf="activo=='Usuarios'" [@scaleAnimation]="'enter'">
      </app-table-usuario>
      <app-chat *ngIf="activo=='Mensajería'" [@scaleAnimation]="'enter'"></app-chat>
      <app-table-quienes [quienes]="quienesarray" *ngIf="activo=='Quienes'" [@scaleAnimation]="'enter'">
      </app-table-quienes>
      <app-table-scrap [scraps]="scraparray" *ngIf="activo=='Recogida'" [@scaleAnimation]="'enter'"> </app-table-scrap>
      <app-table-posts [posts]="postsarray" *ngIf="activo=='Comentarios'" [@scaleAnimation]="'enter'">
      </app-table-posts>
      <app-table-pedido [pedidos]="pedidosarray" [usuarios]="usuariosarray" *ngIf="activo=='Pedidos'"
        [@scaleAnimation]="'enter'"> </app-table-pedido>
      <app-table-configuracion [configuraciones]="configuracionesarray" *ngIf="activo=='Configuración'"
        [@scaleAnimation]="'enter'"> </app-table-configuracion>
      <app-table-ventas [ventas]="ventasarray" [usuarios]="usuariosarray" *ngIf="activo=='Ventas'"
        [@scaleAnimation]="'enter'"> </app-table-ventas>
      <app-table-mensajes [mensajes]="mensajesarray" [usuarios]="usuariosarray" *ngIf="activo=='Preguntas'"
        [@scaleAnimation]="'enter'"> </app-table-mensajes>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-primary">{{modalHeader}}</button>
</div> -->