<div class="modal-header bg dark">
  <div class="row">
    <div class="col-sm-3">
      <img [hidden]="usuario.usuario != 'kuroko'" style="width: 60px;height: 40px;" src="assets/icono-kuroko.png" />
      <div class="fav-icon" [hidden]="usuario.usuario == 'kuroko'">
        <span class="fav-letter">{{ usuario.usuario[0].toUpperCase() }}</span>
      </div>
    </div>
    <div class="col-sm-6" style="font-size: x-small">
      <p style="margin-block: 0">{{ usuario.usuario }}</p>
      <p>{{ usuario.nombre }}</p>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-warning text-white" (click)="agregar()">
      <i class="bi bi-plus svg-shadow"></i>
      <div class="pista pista-off pista-left">Agregar</div>
    </button>
    <button type="button" class="btn btn-danger" (click)="actiModal.close()">
      <i class="bi bi-x-lg svg-shadow"></i>
      <div class="pista pista-off pista-right">Cerrar</div>
    </button>
  </div>
</div>
<div class="modal-body" style="height: 100%; overflow-y: auto; padding-block: 0; padding-bottom: 20px">
  <div class="row">
    <div class="col-sm-2 sidebar scroll-mine text-center">
      <button [ngClass]="{
          'btn-primary': productos,
          'btn-outline-primary': !productos
        }" class="btn" (click)="cambiarTabla($event)">
        <i class="bi bi-bicycle"></i> Productos
      </button>
      <button [ngClass]="{
          'btn-primary': categorias,
          'btn-outline-primary': !categorias
        }" class="btn" (click)="cambiarTabla($event)">
        <i class="bi bi-bookmark"></i> Categorias
      </button>
      <button [ngClass]="{
          'btn-primary': noticias,
          'btn-outline-primary': !noticias
        }" class="btn" (click)="cambiarTabla($event)">
        <i class="bi bi-newspaper"></i> Noticias
      </button>
      <button [ngClass]="{
          'btn-primary': desarrollos,
          'btn-outline-primary': !desarrollos
        }" class="btn" (click)="cambiarTabla($event)">
        <i class="bi bi-graph-up"></i> Desarrollos
      </button>
      <button [ngClass]="{
          'btn-primary': usuarios,
          'btn-outline-primary': !usuarios
        }" class="btn" (click)="cambiarTabla($event)">
        <i class="bi bi-person"></i> Usuarios
      </button>
      <button [ngClass]="{ 'btn-primary': chat, 'btn-outline-primary': !chat }" class="btn"
        (click)="cambiarTabla($event)" [hidden]="usuario.usuario != 'kuroko'">
        <i class="bi bi-chat-square-dots"></i> Chat
      </button>
      <button [ngClass]="{ 'btn-primary': quienes, 'btn-outline-primary': !quienes }" class="btn"
        (click)="cambiarTabla($event)">
        <i class="bi bi-people"></i> Quienes
      </button>
      <button [ngClass]="{ 'btn-primary': scrap, 'btn-outline-primary': !scrap }" class="btn"
        (click)="cambiarTabla($event)">
        <i class="bi bi-bar-chart-steps"></i> Scraps
      </button>
      <button [ngClass]="{ 'btn-primary': posts, 'btn-outline-primary': !posts }" class="btn"
        (click)="cambiarTabla($event)">
        <i class="bi bi-file-earmark-text"></i> Posts
      </button>
      <button [ngClass]="{ 'btn-primary': pedidos, 'btn-outline-primary': !pedidos }" class="btn"
        (click)="cambiarTabla($event)">
        <i class="bi bi-cart"></i> Pedidos
      </button>
      <button [ngClass]="{ 'btn-primary': ventas, 'btn-outline-primary': !ventas }" class="btn"
        (click)="cambiarTabla($event)">
        <i class="bi bi-receipt"></i> Ventas
      </button>
      <button [ngClass]="{ 'btn-primary': configuracion, 'btn-outline-primary': !configuracion }" class="btn"
        (click)="cambiarTabla($event)">
        <i class="bi bi-gear"></i> Configuracion
      </button>
      <button class="btn btn-outline-primary" (click)="logout()">
        <i class="bi bi-door-closed"></i> Cerrar Sesion
      </button>
    </div>
    <div class="col-sm-10 tabs-content scroll-mine" style="position: relative;">
      <app-table-producto [productos]="productosarray" [ngClass]="{ 'fade-in-element': productos }"
        [hidden]="!productos"></app-table-producto>
      <app-table-categoria [categorias]="categoriaarray" [ngClass]="{ 'fade-in-element': categorias }"
        [hidden]="!categorias"></app-table-categoria>
      <app-table-noticia [noticias]="noticiasarray" [ngClass]="{ 'fade-in-element': noticias }" [hidden]="!noticias">
      </app-table-noticia>
      <app-table-desarrollo [desarrollos]="desarrolloarray" [ngClass]="{ 'fade-in-element': desarrollos }"
        [hidden]="!desarrollos"></app-table-desarrollo>
      <app-table-usuario [usuarios]="usuariosarray" [ngClass]="{ 'fade-in-element': usuarios }" [hidden]="!usuarios">
      </app-table-usuario>
      <app-chat [ngClass]="{ 'fade-in-element': chat }" [hidden]="!chat"></app-chat>
      <app-table-quienes [quienes]="quienesarray" [ngClass]="{ 'fade-in-element': quienes }" [hidden]="!quienes">
      </app-table-quienes>
      <app-table-scrap [scraps]="scraparray" [ngClass]="{ 'fade-in-element': scrap }" [hidden]="!scrap">
      </app-table-scrap>
      <app-table-posts [posts]="postsarray" [ngClass]="{ 'fade-in-element': posts }" [hidden]="!posts">
      </app-table-posts>
      <app-table-pedido [pedidos]="pedidosarray" [usuarios]="usuariosarray" [ngClass]="{ 'fade-in-element': pedidos }"
        [hidden]="!pedidos">
      </app-table-pedido>
      <app-table-configuracion [configuraciones]="configuracionesarray" [ngClass]="{ 'fade-in-element': configuracion }"
        [hidden]="!configuracion">
      </app-table-configuracion>
      <app-table-ventas [ventas]="ventasarray" [usuarios]="usuariosarray" [ngClass]="{ 'fade-in-element': pedidos }"
        [hidden]="!ventas">
      </app-table-ventas>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
    <button class="btn btn-primary">{{modalHeader}}</button>
</div> -->