<div class="contenedor-reset">
    <div class="contentedor-imagen">
        <img src="assets/icon-icem-blue.png" alt="ICEM">
    </div>
    <p *ngIf="usuario.usuario!='Usuario9706'"
        style="color: var(--firstcolor);text-align: center;font-size: 15px; width: 80%;">Usuario "{{usuario.usuario}}"
        ha
        pedido cambiar su contraseña si esto es correcto prosiga con los siguientes pasos: </p>
    <ul *ngIf="usuario.usuario!='Usuario9706'">
        <li>para cambiar su contraseña rellene los dos campos a continuacion con la misma contraseña</li>
        <li>a continuacion presione el boton cambiar</li>
    </ul>

    <form *ngIf="usuario.usuario!='Usuario9706'" action="">
        <div class="input-content">
            <label for="">Nueva contraseña</label>
            <input type="password" class="in" name="password" [(ngModel)]="password">
            <i class="bi bi-key-fill"></i>
            <div class="text-danger" *ngIf="password.length>0 && password.length<8">la contraseña es muy corta, debe
                contener al menos 8 caracteres</div>
        </div>
        <div class="input-content">
            <label for="">Confirmar contraseña</label>
            <input type="password" class="in" name="confirm" [(ngModel)]="confirm">
            <i class="bi bi-key-fill"></i>
            <div class="text-danger" *ngIf="password!=confirm">las contraseñas contraseñas no coinciden verifique que
                las puso correctamente</div>
        </div>

        <button class="btn btn-firstcolor" (click)="cambiarPass()"
            [disabled]="confirm!=password || password=='' || password.length<8 || usuario.usuario=='Usuario9706'"><i
                class="bi bi-hdd"></i>Cambiar</button>
    </form>

    <p *ngIf="usuario.usuario=='Usuario9706'"
        style="color: var(--firstcolor);text-align: center;font-size: 15px; width: 80%;">El link no es correcto o dejo
        de ser valido por favor vuelva a intentar restablecer su contraseña</p>
    <button *ngIf="usuario.usuario=='Usuario9706'" class="btn btn-firstcolor" (click)="actiModal.close()"><i
            class="bi bi-check"></i>Aceptar</button>
</div>