
  <div class="modal-header bg-warn">
      <h2 class="modal-title"><strong>{{modalAction}} {{modalHeader}}</strong></h2>
      <button  type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body" >
      <form class="w-100 d-flex flex-row gap-2 flex-wrap" style="max-height: 250px;overflow-y: auto;">
        <div class="w-100">
          <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-card-text"></i> Nombre</label>
          <input type="text" name="nombre" [(ngModel)]="quien.nombre" id="exampleFormControlInput1" placeholder="Nombre del integrante">
        </div>
        <div class="w-100">
          <label for="exampleFormControlTextarea1" class="small text-white"><i class="bi bi-person-video"></i> Cargo</label>
          <textarea name="cargo" [(ngModel)]="quien.cargo" id="exampleFormControlTextarea1" rows="3" placeholder="Cargo que ocupa en la empresa"></textarea>
        </div>
        <div class="w-100">
          <label for="formFile" class="small text-white"><i class="bi bi-image"></i> Imagen</label>
          <input name="imagen"  type="file" id="formFile" accept="image/*" (change)="fileEvent($event)">
        </div>
        
        <div class="w-100">
          <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-1-square"></i> Orden</label>
          <input type="number" id="exampleFormControlInput1" name="orden" [(ngModel)]="quien.orden" placeholder="Orden en que aparecerán en la página">
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" [disabled]="disableButton" (click)="addUpdateQuienes()">{{modalAction}} {{modalHeader}}</button>
  </div>


