<div style="overflow: auto;width: 100%;" class="table-mine scroll-mine">
    <table class="table table-dark text-center  table-mine">
        <thead>
            <th>id</th>
            <th>nombre</th>
            <!-- <th>descripcion</th> -->
            <th>cargo</th>
            <!-- <th>imagen</th> -->
            <!-- <th>usos</th> -->
            <!-- <th>especificaciones</th> -->
            <!-- <th>garantia</th> -->
            <th>orden</th>
            <th>acciones</th>
        </thead>
        <tr *ngFor="let item of quienes">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <!-- <td>{{item.descripcion}}</td> -->
            <td>{{item.cargo}}</td>
            <!-- <td>{{item.usos}}</td> -->
            <!-- <td>{{item.especificaciones}}</td> -->
            <!-- <td>{{item.garantia}}</td> -->
            <td>{{item.orden}}</td>
            <td>
                <button class="btn btn-outline-primary" (click)="updateQuienes(item)"> <i
                        class="bi bi-pencil svg-shadow"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="delete(item)">
                    <i class="bi bi-trash svg-shadow"></i>
                </button>
            </td>
        </tr>
    </table>
</div>