<div style="overflow: auto;width: 100%;" class="table-mine  scroll-mine">
    <table class="table table-dark text-center table-mine">
        <thead>
            <!-- <th>id</th> -->
            <th>nombre</th>
            <th>descripcion</th>
            <th>configs</th>
            <th>acciones</th>
        </thead>
        <tr *ngFor="let item of configuraciones">
            <!-- <td>{{item.id}}</td> -->
            <td>{{item.nombre}}</td>
            <td class="descrip">{{item.descripcion}}</td>
            <td>{{(item.config/24)>=1?(item.config/24)+'dia(s)':(item.config*60)>=1?(item.config*60)+' min': (item.config*3600)+' seg'}} </td>
            <td>
                <button class="btn btn-outline-primary" (click)="updateConfiguracion(item)"> <i
                        class="bi bi-pencil svg-shadow"></i>
                </button>
                <button class="btn btn-outline-danger" disabled data-content="Some content inside the popover" (click)="delete(item)">
                    <i class="bi bi-trash svg-shadow"></i>
                </button>
            </td>
        </tr>
    </table>
    <div style="z-index: 999;" *ngIf="loading">
        <app-loading-table [mensaje]="loading_message"></app-loading-table>
    </div>
</div>