.list-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    background: var(--theme-color);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); */
}

.barra-superior {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
}

.barra-superior form {
    width: 70%;
    position: relative;
    padding-right: 20px;
}

.barra-superior form input {
    width: 100%;
    outline: none;
    border: none;
    line-height: 40px;
    position: absolute;
    padding-left: 20px;
    background-color: transparent;
    left: 0;
    bottom: 0;
}

.burbuja-comentario {
    padding: 15px;
    border-radius: .2em;
    margin-top: 10px;
    border-left: 10px solid var(--firstcolor);
    /* background-color: #f1f1f1; */
    /* box-shadow: 0 2px 2px 0 var(--firstcolor-hover); */
    color: var(--color-gray);
}

.burbuja-comentario h5{
    color: var(--firstcolor);
}

h3.h3{
    /* transform: translateY(-20px) translateX(-40px); */
    background-color: var(--firstcolor);
    background: linear-gradient(90deg, var(--firstcolor) 80%, transparent 100%);
    color: var(--theme-color);
    /* border-radius: 0.5em; */
    /* box-shadow: 0 5px 10px 0 var(--firstcolor); */
    padding: 20px;
}