<div [@scaleAnimation]="'enter'" *ngIf="!loading" class="scroll-mine" (scroll)="onScrolling()" id="scroll" style="overflow-y: scroll;height: 100%;overflow-x: none;">
    <div id="scroll" #scroll></div>
    <app-navbar [back_class]="back_final"></app-navbar>
    <div class="row p-4" style="width: 100%;"></div>
    <router-outlet></router-outlet>
    <div class="row p-4" style="width: 100%;"></div>
    <app-footer></app-footer>  
    <button id="btnScroll" class="btn-up btn text-center text-white bg-firstcolor text-shadow rounded-circle btn-scala-up" (click)="onScroll(scroll)">
        <i class="bi bi-chevron-up"></i>
    </button>
</div>
<app-loading [@scaleAnimation]="'enter'" *ngIf="loading"></app-loading>
<!-- <app-header></app-header> -->