<div [@scaleAnimation]="'enter'" *ngIf="!loading" class="scroll-mine" (scroll)="onScrolling()" id="scroll" style="overflow-y: scroll;height: 100%;overflow-x: none;">
    <div #scroll></div>
    <app-navbar [back_class]="back_final"></app-navbar>
    <div class="row p-4" style="width: 100%;"></div>
    <router-outlet></router-outlet>
    <div class="row p-4" style="width: 100%;"></div>
    <app-footer></app-footer>
    <button id="btnScroll" class="btn-up btn btn-firstcolor rounded-circle btn-scala-up" style="padding: 15px;" (click)="onScroll(scroll)">
        <div class="clip-path-shadow">
            <div class="arrow-down"></div>
        </div>
    </button>
</div>
<app-loading [@scaleAnimation]="'enter'" *ngIf="loading"></app-loading>
<!-- <app-loading-spinner></app-loading-spinner> -->
