
  <div class="modal-header bg-warn">
      <h2 class="modal-title"><strong>{{modalAction}} {{modalHeader}}</strong></h2>
      <button  type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body" >
    <h3>{{alias}}</h3>
    <h5>{{correo}}</h5>
    <p>{{comentario}}</p>
      <form  class="w-100 d-flex flex-row gap-2 flex-wrap" style="max-height: 300px;overflow-y: auto;">
        <div class="w-100">
          <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-file-text"></i> Respuesta</label>
          <textarea type="text" name="respuesta" [(ngModel)]="respuesta.respuesta" class="form-control" id="exampleFormControlInput1" placeholder="Escriba aqui su respuesta al comentario"></textarea>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" [disabled]="disableButton" (click)="addUpdateRespuesta()">{{modalAction}} {{modalHeader}}</button>
  </div>


