
  <div class="modal-header bg-warn">
      <h2 class="modal-title"><strong>{{modalAction}} {{modalHeader}}</strong></h2>
      <button  type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body" >
    <h3>{{alias}}</h3>
    <h5>{{correo}}</h5>
    <p>{{comentario}}</p>
      <form style="max-height: 250px;overflow-y: auto;">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fonts" viewBox="0 0 16 16">
            <path d="M12.258 3h-8.51l-.083 2.46h.479c.26-1.544.758-1.783 2.693-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.431.013c1.934.062 2.434.301 2.693 1.846h.479L12.258 3z"/>
          </svg>Respuesta</label>
          <textarea type="text" name="respuesta" [(ngModel)]="respuesta.respuesta" class="form-control" id="exampleFormControlInput1"></textarea>
        </div>
      </form>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" [disabled]="disableButton" (click)="addUpdateRespuesta()">{{modalAction}} {{modalHeader}}</button>
  </div>


