<div class="card card-mine" [@scaleAnimation]="'enter'">
    <img class="img-backlogo-bottom-rigth" src="assets/logo-mitad-left.png">
  <div class="title-text text-start">
      <h1 class="number text-section"><strong>{{id}}</strong></h1>
      <h1 style="position: absolute;bottom: 5px;" class="text-firstcolor"><strong>{{desarrollo.titulo}}</strong></h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-12 descripcion-text">
              <p class="text">{{desarrollo.descripcion}}</p>
          </div>
      </div>
      <div class="row linea">
          <div class="col-sm-6 linea-active"></div>
          <div class="col-sm-6"></div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12 img">
          <img [src]="imagen" class="img-fluid image">
          <!-- <button class="btn btn-primary" (click)="verMas(producto)" style="position: absolute;right: 10px;bottom: 0;">Ver mas</button> -->
      </div>
  </div>
  <div class="row p-4"></div>

</div>
