<div class="filtros">

    <div class="contenedor-filtro"> <label for="all">Todo</label>
        <input type="text" class="forms-control" placeholder="Buscar.." [(ngModel)]="all_query"
            name="filterpost" />
    </div>

    <!-- <input type="date" class="selecc2" name="fecha" [(ngModel)]="fecha" placeholder="fecha"> -->
    <div class="contenedor-filtro"> <label for="fecha">Fecha</label>
        <select [(ngModel)]="fecha_query" name="fecha" id="fecha" class="selecc">
            <option value="">Todas las fechas</option>
            <option *ngFor="let item of fechas" [value]="item">{{item| date: 'short'}}</option>
        </select>
    </div>

    <div class="contenedor-filtro"> <label for="categoria">Fuente</label>
        <select [(ngModel)]="fuente_query" name="fuentes" id="fuentes" class="selecc">
            <option value="">Todas las fuentes</option>
            <option *ngFor="let item of fuentes" [value]="item">{{item}}</option>
        </select>
    </div>
</div>
<div style="overflow: auto;width: 100%;" class="table-mine scroll-mine">
    <table class="table table-dark text-center table-mine" style="width: 100%;" >
        <thead>
            <!-- <th>id</th> -->
            <th>titulo</th>
            <th>descripcion</th>
            <th>fecha</th>
            <th>imagen</th>
            <th>acciones</th>
        </thead>
        <tr *ngFor="let item of noticias | fecha_pipe : fecha_query | noticia_fuente_pipe: fuente_query | allPipe: all_query">
            <!-- <td>{{item.id}}</td> -->
            <td class="descrip">{{item.titulo}}</td>
            <td class="descrip">{{item.descripcion}}</td>
            <td>{{item.fecha | date: 'short'}}</td>
            <td><img [src]="item.imagen" alt=""></td>
            <td>
                <button [disabled]="item.fuente!='ICEM'" class="btn btn-outline-primary" (click)="updateNoticia(item)"> <i
                        class="bi bi-pencil svg-shadow"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="delete(item)">
                    <i class="bi bi-trash svg-shadow"></i>
                </button>
            </td>
        </tr>
    </table>
    <div style="z-index: 999;" *ngIf="loading">
        <app-loading-table [mensaje]="loading_message"></app-loading-table>
    </div>
</div>