<div class="filtros">
    <div class="contenedor-filtro"> <label for="usuario">Usuario</label>
        <input type="text" placeholder="Buscar por usuario.." [(ngModel)]="usuario_query"
            name="usuarip" />
    </div>

    <div class="contenedor-filtro"> <label for="usuario">Correo</label>
        <input type="text" placeholder="Buscar por correo.." [(ngModel)]="correo_query"
            name="correo" />
    </div>

    <div class="contenedor-filtro"> <label for="actividad">Nuevo</label>
        <select [(ngModel)]="visto_query" name="visto" id="actividad" class="selecc">
            <option value="-1">todos</option>
            <option value="1">visto</option>
            <option value="0">no visto</option>
        </select>
    </div>

    <!-- <input type="date" class="selecc2" name="fecha" [(ngModel)]="fecha" placeholder="fecha"> -->
    <!-- <div class="contenedor-filtro"> <label for="fecha">Fecha</label>
        <select [(ngModel)]="fecha" name="fecha" id="fecha" class="selecc">
            <option value="">Todas las fechas</option>
            <option *ngFor="let item of usuarios" [value]="item.fecha">{{item.fecha| date: 'short'}}</option>
        </select>
    </div> -->
</div>
<div style="overflow: auto;width: 100%;" class="table-mine scroll-mine">
    <table class="table table-dark text-center table-mine">
        <thead class="table-dark">
            <!-- <th>id</th> -->
            <th>alias</th>
            <th>correo</th>
            <th>visto</th>
            <th>respuestas</th>
            <th>acciones</th>
        </thead>
        <tr *ngFor="let item of posts | posts_usuario_pipe: usuario_query| posts_correo_pipe: correo_query | posts_visto_pipe: visto_query">
            <!-- <td>{{item.id}}</td> -->
            <td>{{item.alias}}</td>
            <td>{{item.correo}}</td>
            <td>
                <div class="blink" *ngIf="item.cant_resp==0"><span>new</span></div>
                <div class="blink" *ngIf="item.cant_resp>0"><i class="bi bi-check text-success"></i></div>
            </td>
            <td>{{item.cant_resp}}</td>
            <td>
                <button class="btn btn-outline-success" (click)="responderPost(item)"><i
                        class="bi bi-reply svg-shadow"></i></button>
                <button class="btn btn-outline-primary" (click)="updatePosts(item)"> <i
                        class="bi bi-pencil svg-shadow"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="delete(item)">
                    <i class="bi bi-trash svg-shadow"></i>
                </button>
            </td>
        </tr>
    </table>
    <div style="z-index: 999;" *ngIf="loading">
        <app-loading-table [mensaje]="loading_message"></app-loading-table>
    </div>
</div>