<div style="overflow: auto;width: 100%;height: 100%;">
    <table class="table table-dark text-center table-mine">
        <thead class="table-dark">
            <th>id</th>
            <th>alias</th>
            <th>correo</th>
            <th>visto</th>
            <th>respuestas</th>
            <th>acciones</th>
        </thead>
        <tr *ngFor="let item of posts">
            <td>{{item.id}}</td>
            <td>{{item.alias}}</td>
            <td>{{item.correo}}</td>
            <td>
                <div class="blink" *ngIf="item.cant_resp==0"><span>new</span></div>
                <div class="blink" *ngIf="item.cant_resp>0"><i class="bi bi-check text-success"></i></div>
            </td>
            <td>{{item.cant_resp}}</td>
            <td>
                <button class="btn btn-outline-success" (click)="responderPost(item)"><i
                        class="bi bi-reply svg-shadow"></i></button>
                <button class="btn btn-outline-primary" (click)="updatePosts(item)"> <i
                        class="bi bi-pencil svg-shadow"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="delete(item)">
                    <i class="bi bi-trash svg-shadow"></i>
                </button>
            </td>
        </tr>
    </table>
</div>