.card-mine{
    min-width: 300px;
    width: 20%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.card-mine:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.3s;
}

.contenedor-busq{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.text-descripcion{
    /* max-height: 200px; */
    word-wrap: break-word;
    /* overflow: hidden; */
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 3.9em;
    /* Fallback for non-webkit, line-height * 2 */
    line-height: 1.3em;
    -webkit-line-clamp: 3;
    /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}