<div class="card-mine" style="width: 18rem;">
    <div class="shape shape12 bg-primary centrado text-white" style="display: flex;align-items: center;justify-content: center;font-size: larger;"><i class="fa fa-gavel"></i></div>
    <img class="card-img-top" src=".." alt="..">
    <h5 class="card-title">Card title</h5>

    <!-- <div id="hexagono2"></div> -->
    <!-- <div id="hexagono3" class="color-example">
        <div id="hexagono3-1" class="color-example">
            <div id="hexagono3-2" class="color-example"></div>
        </div>
    </div> -->
    <p class="card-text text-center"> Empresa Cubana especializada en la fabricación y comercialización de equipos médicos, instrumentos ortopédicos y ayudas técnicas, mobiliario clínico, gastronómicos y de oficina, estanterías, soluciones constructivas diversas, perfiles conformados
        en frío y servicios a sus clientes nacionales.</p>
</div>
