<div class="container">
    <div class="row animado" style="width: 100%; position: relative;">
        <div class="col-sm-2" style="z-index: 999">
            <div class="mitad bg-firstcolor text-center text-firstcolor"
                style="position: absolute;top: 30px;left: 40px;">
            </div>
            <div class="mitad bg-white text-center text-white" style="position: absolute;top: 25px;left: 35px;">
            </div>
            <div class="mitad bg-firstcolor text-center text-firstcolor"
                style="position: absolute;top: 20px;left: 30px;">
            </div>
            <div class="mitad bg-white text-center text-white" style="position: absolute;top: 15px;left: 25px;">
            </div>
            <div class="mitad bg-firstcolor text-center text-firstcolor"
                style="position: absolute;top: 10px;left: 20px;">
            </div>
            <div class="mitad bg-white text-center text-white" style="position: absolute;top: 5px;left: 15px;">
            </div>

            <div class="mitad bg-firstcolor text-center text-white" style=" position: absolute;">
                <h5><strong>Productos</strong></h5>
            </div>

        </div>

        <div class="col-sm-10 scroll-mine"
            style="display: flex; flex-direction: row;overflow-x: auto;min-height: 400px;position: relative; "
            [@listAnimation]="productos.length">
            <label class="empty" *ngIf="productos.length==0">No existen productos en esta categoria</label>
            <div *ngFor="let item of productos" style="width: 16rem;">
                <app-producto [producto]="item" style="margin-inline: 20px;"
                    (emisor)="swicthEspecification($event, especification)">
                </app-producto>
            </div>
            <div style="width: 30px;height: 100%;position: absolute;right: 0;background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, white 60%);
            "></div>
        </div>
    </div>
</div>