<div class="container" [@scaleAnimation]="'enter'">
    <div #especification style="transform: translateY(-100px);"></div>
    <div class="row ">
        <div class="col-sm-2" [@listAnimation]="categorias.length">
            <div class="lineatitulo">
                <div class="linea bg-dark"></div>
                <h3 style="margin-bottom: 20px;">Categorías</h3>
                <div class="linea bg-dark"></div>
            </div>
            <div class="category-list" *ngFor="let item of categorias">
                <div [id]="item.nombre" class="category-item" (click)="swichtProductos($event, item.id)">
                    <div class="category-text-item">
                        <div>{{item.nombre}}</div>
                        <!-- Cras justo odio -->
                    </div>
                    <!-- <span class="badge bg-primary rounded-pill">14</span> -->
                </div>
            </div>
        </div>
        <div class="animado" [ngClass]="{ 'col-sm-7': comentarios , 'col-sm-10' : !comentarios}">
            <div class="barra-superior">
                <button class="btn centrado"
                    [ngClass]="{ 'btn-outline-firstcolor': !comentarios , 'btn-firstcolor' : comentarios}"
                    (click)="abrirComentarios()" style="position: relative;">
                    <div class="pista pista-off pista-bottom">Ver comentarios</div>
                    <i class="bi bi-chat-square-text"></i>
                </button>
                <button class="btn btn-outline-firstcolor centrado" style="position: relative;">
                    <div class="pista pista-off pista-bottom">Descargar ficha técnica</div>
                    <i class="bi bi-journal-text"></i>
                </button>
            </div>

            <div>
                <app-productos-especificacion [oculto]="producto_especificacion" [producto]="producto" [id]="id"
                    [categoria]="category"></app-productos-especificacion>
            </div>
            <!-- <div class="row" [hidden]="!producto_especificacion">
                <div class="col-sm-4" *ngFor="let item of productos">
                    <app-producto [producto]="item" [emisor]="swicthEspecification($event)">
                    </app-producto>
                </div>
            </div> -->
        </div>
        <div [ngClass]="{ 'hide': !comentarios , 'col-sm-3' : comentarios}" style="position: relative">
            <div class="barra-superior">
                <button id="btn-filter" class="btn btn-outline-firstcolor" (click)="abrirFiltro()"
                    style="position: relative;">
                    <div class="pista pista-off pista-bottom" (click)="abrirFiltro()">Filtrar por alias</div>
                    <i class="bi bi-funnel"></i>
                </button>
                <form id="form" class="form-filter"><input id="input" name="filtro" [(ngModel)]="filtro"
                        (ngModelChange)="filtrar()" class="filter-input" placeholder="alias..."></form>
                <button class="btn" (click)="abrirComentar()"
                    [ngClass]="{ 'btn-firstcolor': comentar , 'btn-outline-firstcolor' : !comentar}"
                    style="position: relative;">
                    <div class="pista pista-off pista-bottom">Comentar producto</div>
                    <i class="bi bi-pen"></i>
                </button>
            </div>
            <div class="bg-firstcolor fila" style="width: 90%;"></div>
            <div class="bg-firstcolor fila" style="width: 80%;"></div>
            <form class="box-outline" [@scaleAnimation]="'enter'" *ngIf="comentar" style="padding: 15px;position: relative;margin-bottom: 20px;">
                <p class="text-firstcolor"><i class="bi bi-person"></i> alias:</p>
                <input placeholder="alias" name="alias" [(ngModel)]="alias" class="input-outline" required>
                <p class="text-firstcolor"><i class="bi bi-envelope"></i> correo:</p>
                <input placeholder="correo" type="email" name="correo" [(ngModel)]="correo" class="input-outline"
                    required>
                <p class="text-firstcolor"><i class="bi bi-chat-dots"></i> comentario:</p>
                <textarea placeholder="comentario" name="comentario" [(ngModel)]="comentario" class="input-outline"
                    required></textarea>
                <button class="btn btn-firstcolor" (click)="enviarPosts()" style="width: 100%;"
                    [disabled]="!validarComentario()">
                    <div class="pista pista-off pista-left">Enviar</div>
                    <i class="bi bi-send"></i>
                </button>

            </form>
            <div style="max-height: 400px;overflow-y: auto;overflow-x: hidden; padding-top: 10px;" class="scroll-mine"
                [@listAnimation]="posts.length">

                <div *ngFor="let item of posts" class="burbuja-comentario bg-firstcolor text-white"
                    style="position: relative;">
                    <h5 class="h5"><i class="bi bi-person"></i>{{item.alias}}</h5>
                    <p>{{item.correo}}</p>
                  
                    <p>{{item.comentario}}</p>
                    <div class="barra-inferior">
                        <p class="btn btn-firstcolor">Cantidad de respuestas: {{item.respuestas.length}}</p>
                       
                    </div>
                    <div class="lista-respuesta" *ngFor="let item2 of item.respuestas">
                        <li>{{item2.respuesta}}</li>
                    </div>
                    <p style="font-size: small;position: absolute;top: 5px;right: 5px;">
                        {{item.fecha | date: 'dd/MM/YYYY'}}</p>
                </div>
                <p class="text-firstcolor text-center" *ngIf="posts.length==0">No hay comentarios acerca de este
                    producto</p>
            </div>
        </div>
    </div>
    <div class="row p-4"></div>

</div>
<div class="container">
    <div class="row animado" style="width: 100%; position: relative;">
        <div class="col-sm-2">
            <div class="mitad bg-firstcolor text-center text-firstcolor"
                style="position: absolute;top: 30px;left: 40px;">
            </div>
            <div class="mitad bg-white text-center text-white" style="position: absolute;top: 25px;left: 35px;">
            </div>
            <div class="mitad bg-firstcolor text-center text-firstcolor"
                style="position: absolute;top: 20px;left: 30px;">
            </div>
            <div class="mitad bg-white text-center text-white" style="position: absolute;top: 15px;left: 25px;">
            </div>
            <div class="mitad bg-firstcolor text-center text-firstcolor"
                style="position: absolute;top: 10px;left: 20px;">
            </div>
            <div class="mitad bg-white text-center text-white" style="position: absolute;top: 5px;left: 15px;">
            </div>

            <div class="mitad bg-firstcolor text-center text-white" style=" position: absolute;">
                <h5><strong>Productos</strong></h5>
            </div>

        </div>

        <div class="col-sm-10 scroll-mine "
            style="display: flex; flex-direction: row;overflow-x: auto;min-height: 200px; "
            [@listAnimation]="productos.length">
            <div *ngFor="let item of productos" style="width: 16rem;">
                <app-producto [producto]="item" style="margin-inline: 20px;"
                    (emisor)="swicthEspecification($event, especification)">
                </app-producto>
            </div>
            <div style="width: 30px;height: 100%;position: absolute;right: 0;background: linear-gradient(90deg, rgba(255,255,255,0.4) 0%, white 60%);
            "></div>
        </div>
    </div>
</div>