.lineatitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.linea {
    height: 1.5px;
    width: 20%;
    opacity: 0.2;
    margin-inline: 5px;
}

.category-list {
    display: flex;
    flex-direction: row;
}

.category-item {
    padding-left: 5px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-input {
    padding-block: 15px;
    border: solid 1px var(--firstcolor);
    border-radius: 0.2em;
    outline: none;
}

.filter-input:focus{
    outline: solid 3px var(--firstcolor-section);
}

.form-filter,.filter-input{
    width: 0;
    padding: 0;
    transition: all 0.3s;
}

.form-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
}

.activo{
    width: 80%;
    transition: all 0.5s;
}

.filter-input.activo{
    padding: 15px;
}

.btn.activo{
    width: 0;
    font-size: 0;
    opacity: 0;
}

.category-text-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.active {
    transition: 500ms;
    background: linear-gradient(90deg, rgb(59, 65, 142) 90%, transparent 100%);
    color: white;
}

.hidden {
    opacity: 0.5;
    display: none;
    transition: 500ms;
}

.visible {
    opacity: 1;
    transition: 500ms;
    display: block;
}

.bg-azul {
    background: #08f;
}

.mitad {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(-30px);
    font-style: oblique;
    width: 13%;
    -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);

}

.barra-superior {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.burbuja-comentario {
    border-radius: 0.5em;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-block: 10px;
}

.hide {
    width: 0;
    height: 0;
    position: absolute;
    top: -100%;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
}

.barra-inferior{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px;
}

.hideme{
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
}

.seeme{
    transform: translateY(100%);
    opacity: 1;
    transition: all 0.3s;
}

.lista-respuesta{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}