<div class="contenedor-bola" [style.width]="width" [style.height]="height">
    <div class="bolita left"><div class="bolita2 bottom left" ><div class="bolita3 bottom left" ></div></div></div>
    
    <div class="bolita right"><div class="bolita2 top left"><div class="bolita3 top left"></div></div></div>
    
    <div class="bolita bottom left"><div class="bolita2 bottom right"><div class="bolita3 bottom right"></div></div></div>
    
    <div class="bolita bottom right"><div class="bolita2 top right"><div class="bolita3 top right"></div></div></div>
    
</div>