<section>
    <div class="container" [@scaleAnimation]="'enter'">
        <div class="row contenedor-cards">
            <div class="card card-mine">
                <div class="text-center text-firstcolor" style="
            width: 100%;
            margin-bottom: -20px;
            margin-top: 10px;
          ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-stack" viewBox="0 0 16 16">
                        <path
                            d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z" />
                        <path
                            d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z" />
                    </svg>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-firstcolor"><strong>Servicios</strong></h5>
                    <p class="card-text text">
                        diseño y proyectos en 3D, de toldos, cortinas y mobiliario, parqueo, arrendamiento de teatros y
                        almacenes.
                    </p>
                </div>
            </div>
            <div class="card card-mine">
                <div class="text-center text-firstcolor" style="
            width: 100%;
            margin-bottom: -20px;
            margin-top: 10px;
          ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-tools" viewBox="0 0 16 16">
                        <path
                            d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
                    </svg>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-firstcolor"><strong>Fabricamos</strong></h5>
                    <p class="card-text text">
                        equipos médicos, instrumentos ortopédicos y ayudas técnicas, mobiliario clínico, gastronómicos y
                        de oficina, y otros
                    </p>
                </div>
            </div>

            <div class="card card-mine">
                <div class="text-center text-firstcolor" style="
            width: 100%;
            margin-bottom: -20px;
            margin-top: 10px;
          ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd"
                            d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                    </svg>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-firstcolor"><strong>Ofrecemos</strong></h5>
                    <p class="card-text text">
                        reparacion y montaje de mobiliario, mantenimiento de todas nuestras producciones y varios
                        servicios.
                    </p>
                </div>
            </div>
        </div>
        <div class="row p-4"></div>
    </div>


</section>

<section>
    <div class="animado">
        <div id="carouselExampleCaptions" class="carousel slide  shadow-sm" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <div style="border-radius: 100%;background-color:white;width: 10px;height: 10px;border: 1px solid rgba(255, 255, 255, 0.692)"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true">
                </div>
                <div style="border-radius: 100%;background-color: white;width: 10px;height: 10px;border: 1px solid rgba(255, 255, 255, 0.692)"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></div>
                <div style="border-radius: 100%;background-color: white;width: 10px;height: 10px;border: 1px solid rgba(255, 255, 255, 0.692)"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex w-100 flex-column justify-content-center align-items-center position-relative">
                        <img src="assets/imagenes/carousel1.png" style="height: 550px;filter: blur(5px);"
                            class="d-block w-100" alt="...">
                        <div class="container py-4 position-absolute">
                            <div class="row">
                                <div class="col-sm-6 justify-content-center align-items-center d-flex flex-column">
                                    <h1 class="display-4 text-shadow text-white">Industrial</h1>
                                    <h1 class="h1 text-shadow text-white">Empresa Cubana de equipos medicos.</h1>
                                </div>
                                <div class="col-sm-6">
                                    <img src="assets/imagenes/carousel1.png" 
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
<!-- 
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-shadow">Industrial</h5>
                        <p>Empresa Cubana de equipos medicos.</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <div class="d-flex w-100 flex-column justify-content-center align-items-center position-relative">
                        <img src="assets/imagenes/indice2.png" style="height: 550px;filter: blur(5px);"
                            class="d-block w-100" alt="...">
                        <div class="container py-4 position-absolute">
                            <div class="row">
                                <div class="col-sm-6 justify-content-center align-items-center d-flex flex-column">
                                    <h1 class="display-4 text-shadow text-white">ICEM</h1>
                                    <h1 class="h1 text-shadow text-white">Para su inversión presente y futura.</h1>
                                </div>
                                <div class="col-sm-6">
                                    <img src="assets/imagenes/indice2.png" 
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>ICEM</h5>
                        <p>Para su inversión presente y futura</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <div class="d-flex w-100 flex-column justify-content-center align-items-center position-relative">
                        <img src="assets/imagenes/carousel2.png" style="height: 550px;filter: blur(5px);"
                            class="d-block w-100" alt="...">
                        <div class="container py-4 position-absolute">
                            <div class="row">
                                <div class="col-sm-6 justify-content-center align-items-center d-flex flex-column">
                                    <h1 class="display-4 text-shadow text-white">Empresa Cubana</h1>
                                    <h1 class="h1 text-shadow text-white">Equipos Médicos.</h1>
                                </div>
                                <div class="col-sm-6">
                                    <img src="assets/imagenes/carousel2.png" 
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="carousel-caption d-none d-md-block">
                        <h5>Empresa Cubana</h5>
                        <p>Equipos Médicos.</p>
                    </div> -->
                </div>
            </div>
            <button class="carousel-control-prev "
                style="background:linear-gradient(90deg, rgb(7, 7, 7) 0%, transparent 50%)" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                style="background:linear-gradient(270deg, rgb(7, 7, 7) 0%, transparent 50%)" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<h1 class="title-section title-section-right text-section animado pb-5">
    <strong>Noticia más reciente...</strong>
</h1>

<section class="mt-4" style="background-color: #e1e1e1;">


    <!-- Noticia mas reciente -->
    <div class="container animado p-5">
        <div class="row d-flex flex-row justify-content-start align-items-start">
            <div class="col-sm-4 text-start container-image mt-4">
                <img class="logo text-white text-center svg-shadow" [src]="noticia.logo" [alt]="noticia.fuente"
                    style="background-color: --firstcolor;">
                <img class="imagen2 img-fluid noticia-image text-white text-center"
                    style="background: url('assets/icon-icem-blue.png');" [alt]="noticia.titulo" [src]="img_noti" />
            </div>
            <div class="col-sm-8 px-5">
                <h1 class="display-4 text-firstcolor">
                    <strong>{{ titulo_noti }}</strong>
                </h1>
                <h3 class="text">{{ desc_noti }}</h3>
                <button class="btn btn-firstcolor p-3 w-75" (click)="verMas(noticia)">Ver mas</button>
            </div>
        </div>
    </div>
</section>

<!-- Producto section -->
<section>
    <div class="container animado">
        <div class="producto-section">
            <h1 class="title-section2 text-section"><strong>Productos recientes...</strong></h1>
        </div>
        <div class="row p-4"></div>
        <div *ngIf="productos_recientes.length>0" class="row d-flex flex-row justify-content-center align-items-center"
            [@listAnimation]="productos_recientes.length">
            <div *ngFor="let item of productos_recientes" class="col-sm-6 col-md-5 col-lg-3">
                <app-producto-home [producto]="item" [direccion]="item.direccion" [cont]="item.cont">
                </app-producto-home>
            </div>
        </div>
    </div>
</section>


<!-- Catalogo -->
<section
    style="position: relative;margin-top: 80px;background: linear-gradient(var(--firstcolor) 0%, var(--firstcolor) 40%), url('assets/imagenes/carousel2.png');background-blend-mode: normal;">
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column p-4 justify-content-center align-items-center text-white">
                <div class="p-4"></div>
                <h1 class="display-2"> No encontraste lo que buscabas </h1>
                <h5 class="h5">Consulta nuestro catálogo para encontrar más fácilmente lo que estas buscando</h5>
                <button class="btn-catalogo px-4 p-3 mt-3" routerLink="/productos">Ver catálogo</button>
                <div class="p-4"></div>
            </div>
        </div>
    </div>
    <img src="assets/logo-mitad-left-blue.png" class="marca" alt="">
</section>

<!-- Contactenos -->
<section>
    <app-contactenos></app-contactenos>
</section>