.linea {
    height: 1.5px;
    width: 20%;
    opacity: 0.2;
    margin-inline: 5px;
}

.lineatitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.card-mine {
    border: none;
    width: 17%;
    padding: 10px;
    min-width: 200px;
    /* background-color: rgba(0, 0, 0, 0.15); */
    background-color: #e1e1e1;
    border-radius: 0.5em;
    box-shadow: 0 8px 12px 0 var(--firstcolor-section);
    transform: scale(0.9);
    transition: all .3s ease;
}

.title-section {
    font-style: oblique;
    font-size: 4vw 7vh;
    transform: translateY(30px);
    transition: 500ms;
}

.title-section2 {
    font-style: oblique;
    font-size: 4vw 7vh;
    /* transform: translateY(-20px); */
    transition: 500ms;
}

.title-section-right {
    position: relative;
    right: 0;
    margin-left: 50%;
    transition: 500ms;
}

.producto-section {
    margin-left: 20%;
    transform: translateY(20px);
}

.noticia-image {
    width: 100%;
    height: 100%;
}

.container-image {
    z-index: 100;
    background: linear-gradient(rgb(59, 65, 142) 70%, black 100%);
    float: left;
    padding-left: 0;
    padding-right: 5px;
    position: relative;
    border-radius: 0.5em;
    box-shadow: 0 8px 32px 0 var(--firstcolor-section);
}

.bg-azul {
    background: #08f;
}

.mitad {
    height: 320px;
    transform: translateY(-30px);
    font-style: oblique;
}

.mitad-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all .3s ease;
}

.card:hover {
    transform: scale(1.1);
    z-index: 99;
    transition: ease-in-out 0.3s;
}

.box-1 {
    background-color: transparent;
}

.logo{
    position: absolute;
    top: 5px;
    right: 2px;
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel{
    border-radius: 0.5em;
    box-shadow: 0 8px 32px 0 var(--firstcolor-section);
}

.btn-carousel{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--firstcolor);
    padding: 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

.input{
    color: black;
}

.input:placeholder{
    color: var(--firstcolor);
}