<div class="modal-header bg-warn">
  <h2 class="modal-title"><strong>{{modalAction}} {{modalHeader}}</strong></h2>
  <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="w-100 d-flex flex-row gap-2 flex-wrap" style="max-height: 250px;overflow-y: auto;">
    <div class="w-25">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi-person"></i>Alias</label>
      <input type="text" name="alias" [(ngModel)]="mensaje.alias"  id="exampleFormControlInput1" placeholder="Alias o usuario"
        disabled>
    </div>
    <div class="w-50">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi-envelope"></i> Correo</label>
      <input type="email" name="correo" [(ngModel)]="mensaje.correo"  id="exampleFormControlInput1" placeholder="Correo del usuario"
        disabled>
    </div>
    <div class="w-100">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-file-text"></i> Comentario</label>
      <textarea type="text" name="comentario" [(ngModel)]="mensaje.mensaje"  placeholder="Comentario del usuario"
        id="exampleFormControlInput1" disabled></textarea>
    </div>
    <div class="w-100">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-file-earmark-richtext"></i> Respuesta</label>
      <textarea type="text" name="respuesta" [(ngModel)]="respuesta"  placeholder="Respusta de la gerencia correspondiente"
        id="exampleFormControlInput1"></textarea>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" [disabled]="disableButton" (click)="addUpdatePosts()">Responder</button>
</div>