<div class="modal-header bg-warn">
  <h2 class="modal-title"><strong>{{modalAction}} {{modalHeader}}</strong></h2>
  <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="actiModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="w-100 d-flex flex-row gap-2 flex-wrap" style="max-height: 300px;overflow: auto;">
    <div class="w-100">
      <label for="" class="small text-white"><i class="bi bi-type-bold"></i>Título</label>
      <input type="text" name="titulo" [(ngModel)]="producto.titulo" id="exampleFormControlInput1" maxlength="255"
        placeholder="Titulo del producto">
    </div>
    <div class="w-25">
      <label for="categoria_select" class="small text-white"><i class="bi bi-bookmark"></i> Categoría</label>
      <select aria-label="Default select example" id="categoria_select" name="categoria"
        [(ngModel)]="producto.categoria">
        <option *ngFor="let item of categorias" [value]="item.id">{{item.nombre}}</option>
      </select>
    </div>
    <div class="w-25">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-cash"></i> Precio</label>
      <input type="number" id="exampleFormControlInput1" name="precio" [(ngModel)]="producto.precio"
        placeholder="Precio del producto">
    </div>
    <div class="w-25">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-inboxes"></i> Disponibilidad</label>
      <input type="number" id="exampleFormControlInput1" name="disponibilidad" [(ngModel)]="producto.disponibilidad"
        placeholder="Exitencias del producto">
    </div>
    <div class="w-100">
      <label for="" class="small text-white"><i class="bi bi-card-text"></i> Descripción</label>
      <textarea name="descripcion" [(ngModel)]="producto.descripcion" id="exampleFormControlTextarea1"
        placeholder="Descripción del producto para informar al usuario" rows="3"></textarea>
    </div>
    <div class="w-100">
      <label class="small text-white"><i class="bi bi-image"></i> Imagen</label>
      <input style="display: none;" name="imagen" type="file" id="formFile" #formFile accept="image/*"
        (change)="fileEvent($event)" multiple>
      <div class="imagen-contenedor">
        <div *ngFor="let item of imagenes" class="img-pic cont">
          <button class="btn-del" type="button" (click)="eliminarFoto(item)"><i class="bi bi-x"></i> </button>
          <img class="img-pic" [src]="item" [alt]="item">
        </div>
        <div class="img-pic add" (click)="formFile.click()"><i class="bi bi-plus"></i></div>
        <p class="small text-danger">{{error_cantidad_img}}</p>
      </div>
    </div>

    <div class="w-100">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-cursor"></i> Usos</label>
      <textarea type="text" id="exampleFormControlInput1" name="usos" [(ngModel)]="producto.usos" rows="3"
      placeholder="Usos que se le pueden dar al producto, las formas de hacerlo"></textarea>
    </div>
    <div class="w-100">
      <label for="exampleFormControlInput1" class="small text-white"><i
          class="bi bi-file-earmark"></i>Especificaciones</label>
      <textarea type="text" id="exampleFormControlInput1" name="especificaciones"
        [(ngModel)]="producto.especificaciones" rows="3"
        placeholder="Especificaciones, medidas, detalles del producto"></textarea>
    </div>
    <div class="w-100">
      <label for="exampleFormControlInput1" class="small text-white"><i class="bi bi-wallet"></i> Garantía</label>
      <textarea type="text" id="exampleFormControlInput1" name="garantia" [(ngModel)]="producto.garantia"
        rows="3" placeholder="Garantia del producto"></textarea>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" [disabled]="disableButton" (click)="addUpdateProducto()">{{modalAction}}
    {{modalHeader}}</button>
</div>