.contenedor {
  position: relative;
  height: 100%;
  width: 100%;
}

.chat-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.box-sms {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.item-sms {
  padding-inline: 30px;
  padding-block: 5px;
  border-radius: 20px;
  background-color: #08f;
  width: 50%;
}

.visibility-on {
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.visibility-off {
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.font-small {
  font-size: x-small;
}

p {
  font-size: small;
}
.btn-upload {
  background-color: transparent;
  border: 0.5px solid white;
  color: white;
}

.btn-upload:hover {
  background-color: rgb(199, 199, 199);
  color: black;
  transition: ease-in-out 0.3s;
}

:disabled {
  cursor: not-allowed;
}

.box-screen {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2.2%;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgba( 4, 4, 4, 0.8 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: none;
  z-index: 99;
}


.box-delete {
  width: 40%;
  height: 20%;
  right: 0;
  left: 0;
  background: rgba( 4, 4, 4, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 999;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loading{
  box-shadow: 0 1px 1px 1px white;
  background-color: transparent;
  width: 40px;
  border-radius: 100%;
  height: 40px;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.loading-rotate{
    -webkit-animation: 0.5s rotate linear infinite;
    animation: 0.5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
/* #imgr2 {
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
} */
