<div class="contenedor">
  <form class="form-alias" *ngIf="disable">
    <p class="text-danger">Antes de empezar por favor escriba su nombre</p>
    <input class="form-control" name="nombre" [(ngModel)]="nombre" type="text" placeholder="Nombre"
      aria-label="default input example" style="margin-block: 10px" />
    <button class="btn btn-primary" (click)="comenzar()">Aceptar</button>
  </form>

  <div class="box-sms scroll-mine" id="box-sms" [@listAnimation]="mensajes.length">
    <div class="box-screen" [hidden]="!borrando">
      <div class="box-delete">
        <div style="width: 40%; padding-left: 5%">
          <div class="loading loading-rotate"></div>
        </div>
        <div style="width: 60%" class="text-stat">
          <p>Borrando historial por favor espere...</p>
          <p>{{ cantBorradas }}/{{ cantMax }}</p>
        </div>
      </div>
    </div>
    <p class="text-center text-danger" style="width: 100%;" [hidden]="mensajes.length > 0 || nombre.length == 0">
      {{messageChat}}</p>
    <div *ngFor="let item of mensajes" style="width: 100%; display: flex; flex-direction: row ">
      <div class="item-sms text-start" style="width: 50%" [ngClass]="{
          'visibility-on': item.nombre != nombre,
          'visibility-off': item.nombre == nombre
        }" (click)=" downloadFile(item.archivo)">
        <img [src]="item.imagen" [hidden]="item.archivo == ''" />
        <p>{{ item.sms }}</p>
        <p class="font-small">
          {{ item.nombre }} {{ item.fecha | date: "hh:mm:ss" }}
        </p>
      </div>
      <div class="item-sms text-end" style="width: 50%" [ngClass]="{
          'visibility-off': item.nombre != nombre,
          'visibility-on': item.nombre == nombre
        }" (click)=" downloadFile(item.archivo)">
        <img [src]="item.imagen" [hidden]="item.archivo == ''" />
        <p>{{ item.sms }}</p>
        <p class="font-small">
          {{ item.nombre }} {{ item.fecha | date: "hh:mm:ss" }}
        </p>
      </div>
    </div>
  </div>

  <div class="chat-form">
    <button (click)="borrarTodo()" [title]="'borrar el historial de mensajes'" [disabled]="disable"
      class="btn btn-outline-danger mb-3" style="width: 10%; font-size: large; margin-inline: 15px">
      <i class="bi bi-eraser svg-shadow"></i>
    </button>
    <button (click)="upload()" [title]="message" [disabled]="disable" class="btn btn-upload mb-3"
      [ngClass]="{'btn-upload': message.length == 0, 'btn-outline-success': message.length > 0}"
      style="width: 10%; font-size: large; margin-inline: 15px">
      <i *ngIf="message.length > 0" class="bi bi-cloud-check svg-shadow"></i>
      <i *ngIf="message.length == 0" class="bi bi-cloud-arrow-up svg-shadow"></i>
    </button>
    <form class="row g-3" style="width: 80%">
      <div class="col-auto" style="width: 70%">
        <input type="text" name="sms" [(ngModel)]="sms" class="form-control" id="sms" placeholder="texto..."
          [disabled]="disable" />
      </div>
      <input hidden name="imagen" type="file" id="formFile" accept="image/*" (change)="fileEvent($event)"
        [disabled]="disable" />

      <div class="col-auto" style="width: 20%">
        <button type="submit" (click)="enviar()" class="btn btn-primary mb-3"
          [disabled]="disable || (sms == '' && uploadFiles == undefined)">
          <i class="bi bi-send svg-shadow"></i>
        </button>
      </div>
    </form>
  </div>
</div>