<div class="contenedor">
  <form class="form-alias" *ngIf="disable">
    <p class="text-danger">Antes de empezar por favor escriba su nombre</p>
    <input class="form-control" name="nombre" [(ngModel)]="nombre" type="text" placeholder="Nombre"
      aria-label="default input example" style="margin-block: 10px" />
    <button class="btn btn-primary" (click)="comenzar()">Aceptar</button>
  </form>

  <div class="box-sms scroll-mine" id="box-sms" [@listAnimation]="mensajes.length">
    <div class="box-screen" [hidden]="!borrando">
      <div class="box-delete">
        <div style="width: 40%; padding-left: 5%">
          <div class="loading loading-rotate"></div>
        </div>
        <div style="width: 60%" class="text-stat">
          <p>Borrando historial por favor espere...</p>
          <p>{{ cantBorradas }}/{{ cantMax }}</p>
        </div>
      </div>
    </div>
    <p class="text-center text-danger" style="width: 100%;" [hidden]="mensajes.length > 0 || nombre.length == 0">
      {{messageChat}}</p>
    <div id="box-sms" class="box-sms">
      <div *ngFor="let item of mensajes" class="item-sms" [id]="item.id" [ngClass]="{
        'item-sms-left': item.nombre != nombre,
        'item-sms-right': item.nombre == nombre }">
        <div class="btn-responder" (click)="responderSMS(item)" [hidden]="item.nombre != nombre"><i class="bi bi-reply"></i></div>
        <div class="sms" [id]="item.id">
          <p class="respuesta-sms" (click)="verMensaje(item.id_respondido)" *ngIf="item.id_respondido>-1">{{item.respuesta}}</p>
          <div class="row" *ngIf="item.archivo.length>0">
            <div class="col-sm-10" style="display: flex;justify-content: center;align-items: center;font-size: 30px;">
              <i class="bi bi-cloud-arrow-down svg-shadow"
                *ngIf="item.extension!='jpg'&&item.extension!='png'&&item.extension!='ico'"></i>
              <img [src]="item.imagen"
                *ngIf="item.archivo != '' && (item.extension=='jpg'||item.extension=='png'||item.extension=='ico')" />
            </div>
            <div class="col-sm-2" style="justify-content: center;">
              <button class="btn-actions text-shadow" (click)="downloadFile(item.archivo)"><i
                  class="bi bi-download"></i></button>
              <button class="btn-actions text-shadow"
                [disabled]="item.extension!='jpg'&&item.extension!='png'&&item.extension!='ico'"><i
                  class="bi bi-eye"></i></button>
              <!-- <button class="btn-actions text-shadow"><i class="bi bi-download"></i></button> -->
            </div>
          </div>

          <label>{{ item.sms }}</label>
          <label class="font-small">
            {{ item.nombre }} {{ item.fecha | date: "hh:mm:ss" }}
          </label>
        </div>
        <div class="btn-responder" (click)="responderSMS(item)" [hidden]="item.nombre == nombre"><i class="bi bi-reply"></i></div>
        <!-- <div id="final"></div> -->
      </div>
      <div id="final"></div>
    </div>

  </div>

  <div class="chat-form">
    <div class="message-resp" *ngIf="mensaje_responder.length>0">
      {{mensaje_responder}}
    </div>
    <button (click)="borrarTodo()" [title]="'borrar el historial de mensajes'" [disabled]="disable"
      class="btn btn-danger" >
      <i class="bi bi-eraser svg-shadow"></i>
    </button>
    <button (click)="upload()" [title]="message" [disabled]="disable" class="btn btn-upload"
      [ngClass]="{'btn-upload': message.length == 0, 'btn-success': message.length > 0}">
      <i *ngIf="message.length > 0" class="bi bi-cloud-check svg-shadow"></i>
      <i *ngIf="message.length == 0" class="bi bi-cloud-arrow-up svg-shadow"></i>
    </button>
    <form  style="display: flex;flex-direction: row;">
      <div>
        <input type="text" name="sms" [(ngModel)]="sms" class="border"  id="sms" placeholder="texto..."
          [disabled]="disable" />
      </div>
      <input hidden name="imagen" type="file" id="formFile" (change)="fileEvent($event)" [disabled]="disable" />

      <div>
        <button type="submit" (click)="enviar()" class="btn btn-primary"
          [disabled]="disable || (sms == '' && uploadFiles == undefined)">
          <i class="bi bi-send svg-shadow"></i>
        </button>
      </div>
    </form>
  </div>
</div>