<div class="container" [@scaleAnimation]="'enter'">
    <div class="row text-center"></div>
    <div class="row text-end" style="padding-block: 2%;font-size: small;">
        <div class="col-sm-6">
            <img class="imagen img-fluid" [src]="producto.imagen" />
        </div>
        <div class="col-sm-6 text-start">
            <div class="title-text text-start">
                <h1 class="number text-section"><strong>{{id}}</strong></h1>
                <h1 class="text-firstcolor" style="position: absolute;bottom: 5px;"><strong>{{producto.titulo}}</strong>
                </h1>
            </div>
            <p>{{producto.fecha | date: 'medium'}}</p>
            <p><strong>Categoría:</strong> {{categoria}}</p>
            <div class="centrado-horizontal">
                <p><strong>Precio:</strong>${{producto.precio}}</p>
                <p><strong>Disponibilidad:</strong>{{producto.disponibilidad}}</p>
            </div>
            <div class="centrado-horizontal" *ngIf="storage.retrieve('usuario')">
                <button class="btn btn-arrow more" (click)="cant('more')"><i class="bi bi-arrow-up"></i></button>
                <input class="text-number" name="cantidad" [(ngModel)]="cantidad">
                <button class="btn btn-arrow less" (click)="cant('less')"><i class="bi bi-arrow-down"></i></button>
                <button class="btn btn-firstcolor" [disabled]="cantidad>producto.disponibilidad || producto.disponibilidad==0 || cantidad==0" (click)="addCarrito()" style="margin-left: 20px;"><i class="bi bi-cart"></i> Agregar</button>
            </div>
        </div>
        <div class="col-sm-12 text-start">
            <p></p>
            <h3 class="h3" [hidden]="producto.descripcion.length == 0">Descripción:</h3>
            <p>{{producto.descripcion}}</p>
            <h3 class="h3" [hidden]="producto.usos.length == 0">Usos:</h3>
            <p>{{producto.usos}}</p>
            <h3 class="h3" [hidden]="producto.especificaciones.length == 0">Especificaciones:</h3>
            <p>{{producto.especificaciones}}</p>
            <h3 class="h3" [hidden]="producto.garantia.length == 0">Garantía:</h3>
            <p>{{producto.garantia}}</p>
        </div>
    </div>
</div>