.imagen {
 width: 100%;
}

h1 {
    font-style: oblique;
}

.title-text {
    width: 100%;
    float: left;
    position: relative;
    padding-inline: 20px;
}

.centrado-horizontal{
    display: flex;
}

.centrado-horizontal p{
    margin-right: 10px;
    /* transform: translateX(-100%); */
}