<div class="content-total">
    <button class="btn btn-close" (click)="actiModal.close()"><i class="bi bi-x svg-shadow"></i></button>
    <div class="content-login">
        <img src="assets/icon-icem-blue.png" alt="logo" class="image-icon svg-shadow">
        <form action="" class="form-login">
            <div class="input-content">
                <label for="usuario-login">usuario</label>
                <i class="bi bi-person-fill prefix"></i>
                <input type="text" class="in" name="usuario-login" id="usuario-login" placeholder="usuario o correo" [(ngModel)]="login.usuario">
            </div>
            <div class="input-content">
                <label for="usuario-login">contraseña</label>
                <i class="bi bi-key-fill prefix"></i>
                <input type="password" class="in" name="pass-login" id="pass-login" placeholder="contraseña" [(ngModel)]="login.password">
            </div>
            <a class="olvido">¿olvido su contraseña?</a>
            <button class="btn btn-login" (click)="logIn()">Aceptar</button>
        </form>
    </div>
    <div class="content-register"></div>
    <div class="content-blue" style="background: linear-gradient(0, var(--firstcolor) 0%, var(--firstcolor) 20%), url('assets/fondo.jpg');background-blend-mode: multiply;">
        <ul>
            <li id="autenticarse" class="li" [ngClass]="{'active': activo}" (click)="loginOrRegister()">autenticarse</li>
            <li id="registrarse" class="li" [ngClass]="{'active': !activo}" (click)="loginOrRegister()">registrarse</li>
        </ul>
    </div>
</div>