<div class="contenedor-total">
    <div class="title-contenedor">
        <h2><i class="bi bi-gear"></i> Configuraciones</h2>
    </div>
    <div class="configuraciones-contenedor">
        <div *ngFor="let item of configuraciones2" class="configuracion">
            <strong>{{item.nombre}}: </strong>
            <!-- <input name="d" [(ngModel)]="item.config"> -->
        </div>
    </div>
    <div class="button-container">
        <button class="btn btn-firstcolor"><i class="bi bi-hdd" (click)="saveConfig()"> Aplicar los cambios</i></button>
    </div>
</div>