.card-mine {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 0.5em;
    box-shadow: 0 8px 32px 0 var(--firstcolor-section);
}

.card-mine.active{
    transition: all .3s ease;
    transform: scale(1.05);
    box-shadow: 0 0 32px 0 var(--firstcolor-hover);
}

.card-mine:hover{
    transform: scale(1.05);
    transition: all .3s ease;

}


.title-text {
    width: 100%;
    float: left;
    position: relative;
    padding-inline: 20px;
}

.btn-firstcolor{
    padding: 15px;
}

.descripcion-text {
    font-size: small;
}

.linea {
    height: 5px;
    width: 90%;
}

.linea-active {
    height: 100%;
    background: linear-gradient(-90deg, rgb(59, 65, 142) 70%, black );
}

.image {
    margin-top: 30px;
    width: 90%;
    margin-left: 0;
    /* box-shadow: 0 8px 2px 0 var(--firstcolor-hover); */
}

.img {
    position: relative;
}

.card-mine .h4{
    position: absolute;
    right: -5px;
    top: 10px;
    background-color: var(--alertcolor);
    color: var(--theme-color);
    z-index: 2;
    padding: 10px;
    border-radius: 5px;
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}

.img-backlogo-bottom-rigth{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
}

.img-backlogo-top-left{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateZ(180deg) rotateY(180deg);
    width: 40%;
}