<div class="card card-mine" [ngClass]="{'active': storage.retrieve('producto')&&storage.retrieve('producto').id==producto.id}" [@scaleAnimation]="'enter'" (click)="verMas(producto)">
    <h4 class="h4" [@scaleAnimation]="'enter'" *ngIf="producto.disponibilidad==0">Agotado</h4>
    <img class="img-backlogo-bottom-rigth" src="assets/logo-mitad-left.png">
    <!-- <img class="img-backlogo-top-left" src="assets/logo-mitad-right.png"> -->
    <div class="title-text text-start">
        <h1 class="number text-section"><strong>{{id}}</strong></h1>
        <h1 class="text-firstcolor" style="position: absolute;bottom: 5px;"><strong>{{producto.titulo}}</strong></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 descripcion-text">
                <p style="max-height: 150px;text-overflow: ellipsis;overflow: hidden;" class="text">{{producto.descripcion}}</p>
            </div>
        </div>
        <div class="row linea">
            <div class="col-sm-6 linea-active"></div>
            <div class="col-sm-6"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 img">
            <img [src]="producto.imagen" class="img-fluid image">
            <button class="btn btn-firstcolor" (click)="verMas(producto)" style="position: absolute;right: 10px;bottom: 0;box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);">Ver mas</button>
        </div>
    </div>
    <div class="row p-4"></div>
</div>
