<div class="filtros">

    <div class="contenedor-filtro"> <label for="all">Todo</label>
        <input type="text" style="color: black;" class="forms-control" placeholder="Buscar.." [(ngModel)]="all_query"
            name="filterpost" />
    </div>

    <div class="contenedor-filtro"> <label for="actividad">Actividad</label>
        <select [(ngModel)]="actividad_query" name="usuario" id="actividad" class="selecc">
            <option value="-1">todos</option>
            <option value="0">inactivo</option>
            <option value="1">activo</option>
        </select>
    </div>

    <!-- <input type="date" class="selecc2" name="fecha" [(ngModel)]="fecha" placeholder="fecha"> -->
    <div class="contenedor-filtro"> <label for="fecha">Fecha</label>
        <select [(ngModel)]="fecha_query" name="fecha" id="fecha" class="selecc">
            <option value="">Todas las fechas</option>
            <option *ngFor="let item of fechas" [value]="item">{{item| date: 'short'}}</option>
        </select>
    </div>

    <div class="contenedor-filtro"> <label for="categoria">Categorías</label>
        <select [(ngModel)]="categoria_query" name="categoria" id="categoria" class="selecc">
            <option value="-1">Todas las categorías</option>
            <option *ngFor="let item of categorias" [value]="item">{{item}}</option>
        </select>
    </div>
</div>
<div style="overflow: auto;width: 100%;" class="table-mine scroll-mine">
    
    <table class="table table-dark text-center table-mine">
        <thead>
            <!-- <th>id</th> -->
            <th>titulo</th>
            <!-- <th>descripcion</th> -->
            <th>fecha</th>
            <!-- <th>imagen</th> -->
            <!-- <th>usos</th> -->
            <!-- <th>especificaciones</th> -->
            <!-- <th>garantia</th> -->
            <th>categoria</th>
            <th>activo</th>
            <th>acciones</th>
        </thead>
        <tr *ngFor="let item of productos | user_active_pipe: actividad_query | fecha_pipe: fecha_query | producto_categoria_pipe: categoria_query | allPipe: all_query">
            <!-- <td>{{item.id}}</td> -->
            <td>{{item.titulo}}</td>
            <!-- <td>{{item.descripcion}}</td> -->
            <td>{{item.fecha| date: 'short'}}</td>
            <!-- <td>{{item.usos}}</td> -->
            <!-- <td>{{item.especificaciones}}</td> -->
            <!-- <td>{{item.garantia}}</td> -->
            <td>{{item.categoria}}</td>
            <td>{{item.activo}}</td>
            <td>
                <button class="btn btn-outline-primary" (click)="updateProducto(item)"> <i
                        class="bi bi-pencil svg-shadow"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="delete(item)">
                    <i class="bi bi-trash svg-shadow"></i>
                </button>
                <button *ngIf="!item.activo" class="btn btn-outline-success" (click)="activarProducto(item)">
                    <i class="bi bi-check svg-shadow"></i>
                </button>
                <button *ngIf="item.activo" class="btn btn-outline-danger" (click)="activarProducto(item)">
                    <i class="bi bi-x svg-shadow"></i>
                </button>
            </td>
        </tr>
    </table>
</div>